In this notebook we are going to put together all the book titles and dates together!

In [3]:
import pandas as pd

In [4]:
book_names = ["A Son at the Front", "Summer", "The Age of Innocence", "The Children", "The Custom of the Country", 
              "The Fruit of the Tree", "The Glimpses of the Moon", "The House of Mirth", "The Mother's Recompense",
              "The Reef", "The Valley of Decision", "Twilight Sleep"]

In [5]:
dates = [1923, 1917, 1920, 1928, 1913, 1907, 1922, 1905, 1925, 1912, 1902, 1927]

In [6]:
len(book_names)

12

In [7]:
len(dates)

12

In [8]:
data = pd.DataFrame({"Titles" : book_names, "Year" : dates})

In [9]:
data

                       Titles  Year
0          A Son at the Front  1923
1                      Summer  1917
2        The Age of Innocence  1920
3                The Children  1928
4   The Custom of the Country  1913
5       The Fruit of the Tree  1907
6    The Glimpses of the Moon  1922
7          The House of Mirth  1905
8     The Mother's Recompense  1925
9                    The Reef  1912
10     The Valley of Decision  1902
11             Twilight Sleep  1927

In [10]:
data.to_csv("Edith_Wharton_dates.csv")