In [1]:
#pip install geopy

In [2]:
import pandas as pd
import os

import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import time

In [11]:
# List of input CSV file paths

input_files = [
    r"output_files\a_dark_nights_work_gpe.csv",
    r"output_files\cranford_gpe.csv",
    r"output_files\mary_barton_gpe.csv",
    r"output_files\my_lady_ludlow_gpe.csv", 
    r"output_files\north_and_south_gpe.csv",
    r"output_files\ruth_gpe.csv",
    r"output_files\sylvia_lovers_gpe.csv",
    r"output_files\wives_and_daughters_gpe.csv"
]

In [12]:
pwd

'C:\\Users\\usuario\\ELENA\\it-training uzh\\it-training uzh\\Python Data Analytics Essentials\\Elizabeth Gaskell\\Entities\\GPE'

In [13]:
output_dir = "filtered_gpe"
os.makedirs(output_dir, exist_ok=True)

for file_path in input_files:
    df = pd.read_csv(file_path)
    df_b = df.drop(["COREF", "start_token", "end_token", "prop", "cat"], axis=1)
    title = os.path.basename(file_path).replace("_gpe.csv", "")
    df_b["Titles"] = [title] * len(df_b)
    output_path = os.path.join(output_dir, os.path.basename(file_path))
    df_b.to_csv(output_path, index=False)

So now we have all our GPEs saved in the directory "filtered gpe". Now let's combine all of them into a unique csv dataframe

In [14]:
all_dfs = []

for file_path in input_files:
    df = pd.read_csv(file_path)
    df_b = df.drop(["COREF", "start_token", "end_token", "prop", "cat"], axis=1)
    title = os.path.basename(file_path).replace("_gpe.csv", "")
    df_b["Titles"] = [title] * len(df_b)
    all_dfs.append(df_b)

# Concatenate all dataframes into one
combined_df = pd.concat(all_dfs, ignore_index=True)

In [15]:
combined_df

             text               Titles
0          Hamley   a_dark_nights_work
1            Eton   a_dark_nights_work
2          London   a_dark_nights_work
3       #¿NOMBRE?   a_dark_nights_work
4           Paris   a_dark_nights_work
..            ...                  ...
510    Atherstone  wives_and_daughters
511      Carthage  wives_and_daughters
512     Edinburgh  wives_and_daughters
513  Sussex Place  wives_and_daughters
514        Calais  wives_and_daughters

[515 rows x 2 columns]

Now let's substitute those titles for ones that look better

In [16]:
# Example mapping dictionary
title_map = {
    "a_dark_nights_work" : "A Dark Nights Work", 
    "cranford_gpe" : "Cranford",
    "mary_barton" : "Mary Barton",
    "my_lady_ludlow" : "My Lady Ludlow",
    "north_and_south" : "North and South", 
    "ruth" : "Ruth", 
    "sylvia_lovers" : "Sylvia Lovers",
    "wives_and_daughters" : "Wives and Daughters"    
}

# Replace the titles using .replace with the mapping
combined_df["Titles"] = combined_df["Titles"].replace(title_map)

In [17]:
combined_df

             text               Titles
0          Hamley   A Dark Nights Work
1            Eton   A Dark Nights Work
2          London   A Dark Nights Work
3       #¿NOMBRE?   A Dark Nights Work
4           Paris   A Dark Nights Work
..            ...                  ...
510    Atherstone  Wives and Daughters
511      Carthage  Wives and Daughters
512     Edinburgh  Wives and Daughters
513  Sussex Place  Wives and Daughters
514        Calais  Wives and Daughters

[515 rows x 2 columns]

We are going to use the Python Library "Geopy" (https://geopy.readthedocs.io/en/stable/) to add the coordinates (LAT/LON) of the text column.

In [18]:
geolocator = Nominatim(user_agent="my_geo_app")

We can also see that geopy outputs the coordinates of the capital of "Great Britain" (London), if the name of a country is provided. That is great, as we will have many examples of that in our full data analysis. 

Let's now produce a csv dataframe with all the lattitudes and longitudes of our datafarme.

In [19]:
final_locations = combined_df["text"].to_list()

In [20]:
# Create empty lists to store results
latitudes = []
longitudes = []

for loc in final_locations:
    try:
        location = geolocator.geocode(loc)
        if location:
            latitudes.append(location.latitude)
            longitudes.append(location.longitude)
        else:
            latitudes.append(None)
            longitudes.append(None)
        print(f"Processed {loc}: lat={latitudes[-1]}, lon={longitudes[-1]}")
    except Exception as e:
        latitudes.append(None)
        longitudes.append(None)
        print(f"Error on {loc}: {e}")
    time.sleep(1)

Processed Hamley: lat=-34.0817399, lon=137.599391
Processed Eton: lat=51.4885381, lon=-0.6091736
Processed London: lat=51.5074456, lon=-0.1277653
Processed #¿NOMBRE?: lat=9.5821089, lon=-79.4688881
Processed Paris: lat=48.8588897, lon=2.320041
Processed Rome: lat=41.8933203, lon=12.4829321
Processed England: lat=52.5310214, lon=-1.2649062
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed South Wales: lat=51.6808582, lon=-3.1305139
Processed Cambridge: lat=52.2055314, lon=0.1186637
Processed Ellinor: lat=38.392241, lon=-96.4319914
Processed Shropshire: lat=52.6523394, lon=-2.6435641
Processed Hartwell: lat=34.3528825, lon=-82.932087
Processed Yorkshire: lat=53.9825271, lon=-1.38525
Processed America: lat=39.7837304, lon=-100.445882
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed Easter: lat=34.6456223, lon=-102.3968676
Processed Hinton: lat=53.3990512, lon=-117.5886772
Processed August: lat=37.979919, lon=-121.2621572
Processed Westley: lat=37.5504905, lon=-121.2101289
Processed East Chester: lat=44.564056, lon=-64.221268
Processed East Chester Close: lat=52.8559769, lon=-1.3883619
Processed Norman: lat=35.2225717, lon=-97.4394816
Processed Nova Zembla: lat=75.1168415, lon=58.6929463
Processed Lyons: lat=41.811108, lon=-87.8232695
Processed Marseilles: lat=41.3308666, lon=-88.7081293
Processed Ireland: lat=52.865196, lon=-7.9794599
Processed Tralee: lat=52.2692116, lon=-9.7057047
Processed Midland: lat=31.83688, lon=-102.0103767
Processed Civita: lat=39.828804, lon=16.312488
Processed Ashcombe: lat=50.6058344, lon=-3.5367719
Processed Elba: lat=51.8675686, lon=12.5785974
Processed Hellingford: lat=None, lon=None
Processed Botany Bay: lat=-33.9815082, lon=151.1796169
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Hyde Park Gardens: lat=51.5130012, lon=-0.1707441
Processed East Chester Cathedral: lat=39.8540996, lon=-75.3512631
Processed Bromham: lat=52.1451088, lon=-0.5339894
Processed Cranford: lat=40.656539, lon=-74.3035794
Processed Drumble: lat=53.0680928, lon=-2.274098
Processed England: lat=52.5310214, lon=-1.2649062
Processed London: lat=51.5074456, lon=-0.1277653
Processed Coventry: lat=52.4081812, lon=-1.510477
Processed Alderney: lat=49.7169949, lon=-2.196889
Processed Edinburgh: lat=55.9533456, lon=-3.1883749
Processed Edinbro â€™: lat=None, lon=None
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Rome: lat=41.8933203, lon=12.4829321
Processed India: lat=22.3511148, lon=78.6677428
Processed Misselton: lat=None, lon=None
Processed Woodley: lat=51.4530441, lon=-0.9046899
Processed March: lat=49.3597062, lon=17.3094202
Processed Paris: lat=48.8534951, lon=2.3483915
Processed Idumea: lat=36.7221049, lon=-4.3529369
Processed Etruria: lat=53.0203844, lon=-2.1984874
Processed Newcastle - upon - Tyne: lat=54.9738474, lon=-1.6131572
Processed Buonaparte: lat=45.136189, lon=8.8220671
Processed Northumberland: lat=55.25, lon=-2.000559
Processed Cumberland: lat=40.1541581, lon=-77.2803933
Processed Newcastle: lat=54.9738474, lon=-1.6131572
Processed Abaddon: lat=43.5655331, lon=-79.6142347
Processed Shrewsbury: lat=52.707755, lon=-2.7540658
Processed Ireland: lat=52.865196, lon=-7.9794599
Processed Cambridge: lat=52.2055314, lon=0.1186637
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed Preference: lat=35.6974216, lon=139.6732105
Processed Exeter: lat=50.7256138, lon=-3.5269209
Processed Court: lat=47.2398992, lon=7.337079
Processed Warsaw: lat=52.2333742, lon=21.0711489
Processed Endor: lat=29.7238864, lon=-95.279589
Processed Spain: lat=39.3260685, lon=-4.8379791
Processed Mardon: lat=55.6335138, lon=-2.1544798
Processed Cheltenham: lat=51.8995685, lon=-2.0711559
Processed Over Place: lat=-33.7309329, lon=150.8094028
Processed Wellington: lat=-41.2887953, lon=174.7772114
Processed Calcutta: lat=22.5726459, lon=88.3638953
Processed Warwickshire: lat=52.3213064, lon=-1.5536906
Processed Chunderabaddad: lat=None, lon=None
Processed Lalla Rookh: lat=29.261018, lon=-95.942041
Processed Kalydor: lat=None, lon=None
Processed China: lat=35.000074, lon=104.999927
Processed Peru: lat=-6.8699697, lon=-75.0458515
Processed County: lat=39.982355, lon=112.397213
Processed Combehurst: lat=None, lon=None
Processed Souchong: lat=31.558146, lon=120.3132646
Processed Pekoe: lat=51.5032058, lon=-0.0736255
Processed Portsmouth: lat=50.800031, lon=-1.0906023
Processed Rangoon: lat=16.7967129, lon=96.1609916
Processed Delhi: lat=28.6328027, lon=77.2197713
Processed Manchester: lat=53.4794892, lon=-2.2451148
Processed Yorkshire: lat=53.9825271, lon=-1.38525
Processed Ancoats: lat=53.4849976, lon=-2.2276032
Processed Cumberland: lat=40.1541581, lon=-77.2803933
Processed Westmoreland: lat=40.2930159, lon=-79.4873204
Processed Burton: lat=52.802742, lon=-1.629917
Processed Milnthorpe: lat=54.2293527, lon=-2.7751769
Processed Lancaster: lat=40.0379958, lon=-76.3056707
Processed Runcorn: lat=53.3421509, lon=-2.7334941
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed South America: lat=-21.0002179, lon=-61.0006565
Processed France: lat=46.603354, lon=1.8883335
Processed Lancashire: lat=53.8611712, lon=-2.5650945
Processed Edad: lat=51.8321285, lon=12.1840467
Processed Lunnon: lat=51.5074456, lon=-0.1277653
Processed Oldham: lat=35.3907651, lon=-102.6193428
Processed Whitsun: lat=52.6559028, lon=-8.6045899
Processed Oxford Road: lat=51.5465951, lon=-0.4829827
Processed London: lat=51.5074456, lon=-0.1277653
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Portugal: lat=39.6621648, lon=-8.1353519
Processed Stoke Claypole: lat=None, lon=None
Processed Nottingham: lat=52.9534193, lon=-1.1496461
Processed Sheffield: lat=53.3806626, lon=-1.4702278
Processed Glasgow: lat=55.861155, lon=-4.2501687
Processed Oxfordshire: lat=51.833333, lon=-1.25
Processed England: lat=52.5310214, lon=-1.2649062
Processed Anglo - Saxon: lat=-34.9100242, lon=-54.8544054
Processed Dives: lat=49.5885169, lon=2.8867069
Processed Holborn: lat=51.5195982, lon=-0.1137266
Processed Deansgate: lat=53.4741781, lon=-2.2510902
Processed Brummagem: lat=52.4796992, lon=-1.9026911
Processed Creseide: lat=None, lon=None
Processed Bolton: lat=53.5782863, lon=-2.4300367
Processed Bury: lat=49.3132772, lon=2.3439338
Processed Halifax: lat=44.648618, lon=-63.5859487
Processed Africa: lat=11.5024338, lon=17.7578122
Processed Sierra Leone: lat=8.6400349, lon=-11.8400269
Processed Chatham Island: lat=-43.912705, lon=-176.475029
Processed Aber: lat=51.5748662, lon=-3.2298096
Processed Wales: lat=52.2928116, lon=-3.73893
Processed Madeira: lat=32.7517501, lon=-16.9817487
Processed America: lat=39.7837304, lon=-100.445882
Processed Yankee - Land: lat=46.2540894, lon=-81.3593483
Processed Boston: lat=42.3554334, lon=-71.060511
Processed Chester: lat=53.1908873, lon=-2.8908955
Processed Ireland: lat=52.865196, lon=-7.9794599
Processed Bristol: lat=51.4538022, lon=-2.5972985
Processed Burnley: lat=53.7907262, lon=-2.2439196
Processed Padiham: lat=53.8011226, lon=-2.3200869
Processed Sartor Resartus: lat=51.2642235, lon=-0.4318382
Processed Newcastle: lat=54.9738474, lon=-1.6131572
Processed Ramsay: lat=51.037727, lon=-114.041219
Processed Glasgow?--Seek: lat=55.8274655, lon=-4.261473
Processed China: lat=35.000074, lon=104.999927
Processed British: lat=54.593718, lon=-5.9335833
Processed CORINTH: lat=34.9343599, lon=-88.5223353
Processed GUISE: lat=49.8982325, lon=3.6262542
Processed Arnside: lat=54.2013106, lon=-2.8342988
Processed Kirkdale: lat=53.4407853, lon=-2.9811665
Processed Man: lat=54.1936805, lon=-4.5591148
Processed Liverpool Assize: lat=None, lon=None
Processed La: lat=20.0171109, lon=103.378253
Processed Newton: lat=30.8118989, lon=-93.740504
Processed Rhyl: lat=53.3207425, lon=-3.4907258
Processed Abergele: lat=53.2840692, lon=-3.5810655
Processed New Brighton: lat=45.0628999, lon=-93.2060969
Processed Liverpool Assize Courts to - morrow: lat=None, lon=None
Processed Holyhead: lat=53.3106715, lon=-4.6330966
Processed India: lat=22.3511148, lon=78.6677428
Processed Cheshire: lat=53.2141028, lon=-2.4717701
Processed CYMBELINE: lat=48.8420959, lon=2.3012455
Processed Hamburg: lat=53.550341, lon=10.000654
Processed Salford: lat=53.4877463, lon=-2.2891921

Processed Canada: lat=61.0666922, lon=-107.991707
Processed at Toronto , in Canada: lat=47.5954626, lon=-52.7124159
Processed Toronto: lat=43.6534817, lon=-79.3839347
Processed Merica: lat=39.7837304, lon=-100.445882
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed London: lat=51.5074456, lon=-0.1277653
Processed Connington: lat=31.5722356, lon=-106.2168014
Processed Cavistock: lat=None, lon=None
Processed Hanbury Court: lat=-37.9875809, lon=145.1568973
Processed England: lat=52.5310214, lon=-1.2649062
Processed called,â€”then: lat=None, lon=None
Processed Shrewsbury: lat=52.707755, lon=-2.7540658
Processed Oakfield: lat=46.0989408, lon=-68.1500246
Processed Hanbury: lat=52.2688447, lon=-2.0527598
Processed Weymouth: lat=50.6096257, lon=-2.4543424
Processed Oxford: lat=51.7520131, lon=-1.2578499
Processed Germany: lat=51.1638175, lon=10.4478313
Processed Hathaway: lat=38.8578662, lon=-81.0831674
Processed Paris: lat=48.8534951, lon=2.3483915
Processed Versailles: lat=48.8035403, lon=2.1266886
Processed youth,â€”at Windsor and Kew and Weymouth: lat=None, lon=None
Processed Windsor: lat=42.2858536, lon=-82.9780695
Processed Kew: lat=51.4771443, lon=-0.2855658
Processed Holmwood: lat=51.1811282, lon=-0.320874
Processed St. Stephen: lat=50.3449089, lon=-4.8909241
Processed Henley: lat=51.5375786, lon=-0.9050287
Processed Florence: lat=43.7697955, lon=11.2556404
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Venice: lat=45.4371908, lon=12.3345898
Processed Ludlow: lat=52.3679896, lon=-2.7193114
Processed Birmingham: lat=52.4796992, lon=-1.9026911
Processed Warwick: lat=52.2814519, lon=-1.5815742
Processed Genesis?â€”No: lat=9.3016745, lon=13.3798961
Processed France: lat=46.603354, lon=1.8883335
Processed Monkshaven: lat=None, lon=None
Processed Sussex: lat=36.9096897, lon=-77.2741121
Processed Dieppe: lat=49.9246182, lon=1.0791444
Processed Paris,â€”came: lat=43.483315, lon=-1.1329385
Processed Normandy: lat=49.0677708, lon=0.3138532
Processed Brittany: lat=48.2640845, lon=-2.9202408
Processed Devonshire: lat=50.7241405, lon=-3.6607788
Processed Dartmoor: lat=50.5657349, lon=-3.9009713
Processed Faubourg Saint Germain: lat=48.856257, lon=2.32331
Processed Jacques: lat=19.2092677, lon=-72.6752334
Processed Urian: lat=43.3823703, lon=-1.6552941
Processed Norman: lat=35.2225717, lon=-97.4394816
Processed â€™s Scottish estates: lat=None, lon=None
Processed Comberford: lat=52.6622433, lon=-1.7198576
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Vienna: lat=48.2083537, lon=16.3725042
Processed Holkham: lat=52.9591025, lon=0.8143613
Processed Woburn: lat=42.4792618, lon=-71.1522766
Processed Trafalgar: lat=36.1822339, lon=-6.0332217
Processed Westmoreland: lat=40.2930159, lon=-79.4873204
Processed Laurentia: lat=51.5019309, lon=5.7644434
Processed Albano: lat=41.7479605, lon=12.670204
Processed Italy: lat=42.6384261, lon=12.674297
Processed Naples: lat=40.8358846, lon=14.2487679
Processed Norfolk: lat=52.666667, lon=1.0
Processed Egypt: lat=26.2540493, lon=29.2675469
Processed Merribank: lat=None, lon=None
Processed Corfu: lat=39.591337, lon=19.8596189
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Belgravia: lat=51.4982128, lon=-0.1534998
Processed Delhi: lat=28.6328027, lon=77.2197713
Processed London: lat=51.5074456, lon=-0.1277653
Processed Naples: lat=40.8358846, lon=14.2487679
Processed Helstone: lat=50.6005808, lon=-4.7021896
Processed England: lat=52.5310214, lon=-1.2649062
Processed Italy: lat=42.6384261, lon=12.674297
Processed Southampton: lat=50.9025349, lon=-1.404189
Processed Rio: lat=-22.9110137, lon=-43.2093727
Processed Rutlandshire: lat=37.6548883, lon=-77.3986804
Processed Plymouth: lat=50.3714122, lon=-4.1424451
Processed Carsington: lat=53.0769938, lon=-1.6254465
Processed Derbyshire: lat=53.1185033, lon=-1.5566179
Processed Israel: lat=30.8124247, lon=34.8594762
Processed Milton - Northern: lat=43.037396, lon=-73.916583
Processed Darkshire: lat=31.6952571, lon=-106.2292988
Processed Milton: lat=42.2501425, lon=-71.065573
Processed Oxford: lat=51.7520131, lon=-1.2578499
Processed Northern: lat=9.6600005, lon=-0.3943799
Processed Heston: lat=51.4854573, lon=-0.3719561
Processed Torquay: lat=50.4652392, lon=-3.5211361
Processed London,â€”going: lat=None, lon=None
Processed Hampshire: lat=51.0449814, lon=-1.2433133
Processed Crampton: lat=42.9448049, lon=-80.9425469
Processed Wales: lat=52.2928116, lon=-3.73893
Processed Cambridge: lat=52.2055314, lon=0.1186637
Processed Burnleyways: lat=None, lon=None
Processed North: lat=13.45911, lon=-2.2496367
Processed COUNCIL: lat=44.7298876, lon=-116.438198
Processed Cadiz: lat=10.956652, lon=123.3057034
Processed South America: lat=-21.0002179, lon=-61.0006565
Processed Spain: lat=39.3260685, lon=-4.8379791
Processed Europe: lat=51.0, lon=10.0
Processed Ashley: lat=33.1742582, lon=-91.7295595
Processed Utopia: lat=29.6152274, lon=-99.5269927
Processed Nuremberg: lat=49.453872, lon=11.077298
Processed Sorrento: lat=40.624906, lon=14.374836
Processed Collingbrooks: lat=None, lon=None
Processed Ireland: lat=52.865196, lon=-7.9794599
Processed NORMANDY: lat=49.0677708, lon=0.3138532
Processed Patmos: lat=33.5113082, lon=-93.5666168
Processed Oxenham: lat=-20.2665806, lon=57.4931698
Processed Milton,â€”more: lat=43.0176677, lon=-73.8430297
Processed SOUTHWELL: lat=53.0782513, lon=-0.9550786
Processed Mexico: lat=23.6585116, lon=-102.0077097
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed Outwood: lat=53.7152957, lon=-1.5104273
Processed Greenfield: lat=42.5876342, lon=-72.6002068
Processed Hurstfield: lat=51.3915891, lon=0.0142253
Processed Badoura: lat=46.8621808, lon=-94.7661209
Processed Hayleigh: lat=50.9195698, lon=-0.0857942
Processed Havre: lat=48.5536972, lon=-109.677802
Processed Venice: lat=45.4371908, lon=12.3345898
Processed Lunnon: lat=51.5074456, lon=-0.1277653
Processed Australia: lat=-24.7761086, lon=134.755
Processed Denmark: lat=55.670249, lon=10.3333283
Processed Paris: lat=48.8534951, lon=2.3483915
Processed Cromer: lat=52.9311367, lon=1.3012758
Processed America: lat=39.7837304, lon=-100.445882
Processed Hampstead: lat=51.55653, lon=-0.1783011
Processed NEWCASTLE: lat=54.9738474, lon=-1.6131572
Processed TYNE: lat=54.9738474, lon=-1.6131572
Processed Belgium: lat=50.6402809, lon=4.6667145
Processed Waverhams: lat=None, lon=None
Processed London: lat=51.5074456, lon=-0.1277653
Processed Heneage Place: lat=52.4858458, lon=-1.8797498
Processed Norfolk: lat=52.666667, lon=1.0
Processed Potosi: lat=37.936438, lon=-90.7879086
Processed Milham: lat=54.0356115, lon=-0.7453078
Processed Lowford: lat=50.8902749, lon=-1.3154415
Processed Milham Grange: lat=None, lon=None
Processed Henbury: lat=53.253535, lon=-2.1962652
Processed Paris: lat=48.8534951, lon=2.3483915
Processed North Wales: lat=52.9487856, lon=-3.7601273
Processed Voelas: lat=53.2968178, lon=-3.4162098
Processed England: lat=52.5310214, lon=-1.2649062
Processed Wales: lat=52.2928116, lon=-3.73893
Processed Conway: lat=35.0891932, lon=-92.4398402
Processed Welsh: lat=52.2928116, lon=-3.73893
Processed Fordham: lat=52.3103704, lon=0.3877644
Processed Carnarvon: lat=53.1394364, lon=-4.2769751
Processed Llan - dhu: lat=None, lon=None
Processed America: lat=39.7837304, lon=-100.445882
Processed China: lat=35.000074, lon=104.999927
Processed Gibraltar: lat=36.1285933, lon=-5.3474761
Processed Spain: lat=39.3260685, lon=-4.8379791
Processed Eccleston: lat=53.6505717, lon=-2.7256101
Processed George: lat=30.857421, lon=-88.6537118
Processed Lunnon: lat=51.5074456, lon=-0.1277653
Processed Jerry: lat=50.6193619, lon=16.1290302
Processed Holland: lat=52.2434979, lon=5.6343227
Processed Smithiles: lat=None, lon=None
Processed Derby: lat=52.9142235, lon=-1.4719885
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed Chancery: lat=53.7249045, lon=-7.4558109
Processed Germany: lat=51.1638175, lon=10.4478313
Processed Abermouth: lat=None, lon=None
Processed Cranworth: lat=52.6016486, lon=0.9362179
Processed Utopia: lat=29.6152274, lon=-99.5269927
Processed Corioli: lat=41.5139971, lon=12.7798954
Processed Wakefield: lat=53.6829541, lon=-1.4967286

Processed Scarborough: lat=54.2820009, lon=-0.4011868
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Scaurside - hill: lat=None, lon=None
Processed Helmsby: lat=39.2641309, lon=-76.7616005
Processed Lincolnshire: lat=53.1823034, lon=-0.2031209
Processed Baden: lat=48.0076713, lon=16.2343693
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Glasgow: lat=55.861155, lon=-4.2501687
Processed England: lat=52.5310214, lon=-1.2649062
Processed Monkshaven: lat=None, lon=None
Processed Europe: lat=51.0, lon=10.0
Processed France: lat=46.603354, lon=1.8883335
Processed Portsmouth: lat=50.800031, lon=-1.0906023
Processed Plymouth: lat=50.3714122, lon=-4.1424451
Processed York: lat=53.9656579, lon=-1.0743052
Processed GREENLAND: lat=77.6192349, lon=-42.8125967
Processed Yorkshire: lat=53.9825271, lon=-1.38525
Processed Amerikay: lat=-21.0002179, lon=-61.0006565
Processed his Hollands - and - water: lat=None, lon=None
Processed Haytersbank: lat=None, lon=None
Processed Sheba: lat=31.2457442, lon=34.7925181
Processed Hartlepool: lat=54.6857276, lon=-1.2093696
Processed St Abb 's Head: lat=55.9101144, lon=-2.1341711
Processed Aurora: lat=41.7571701, lon=-88.3147539
Processed Sunday: lat=5.0190667, lon=-8.4940512
Processed Iceland: lat=64.9841821, lon=-18.1059013
Processed Northumberland: lat=55.25, lon=-2.000559
Processed London: lat=51.5074456, lon=-0.1277653
Processed Newcastle: lat=54.9738474, lon=-1.6131572
Processed Cumberland: lat=40.1541581, lon=-77.2803933
Processed Horncastle: lat=53.2087265, lon=-0.1169525
Processed Hull: lat=53.7623863, lon=-0.3301214
Processed Cullercoats: lat=55.0352433, lon=-1.4341253
Processed Abednego: lat=44.6588625, lon=-76.4906538
Processed Nelson: lat=-41.2710849, lon=173.2836756
Processed Hell: lat=42.4347571, lon=-83.9849477
Processed Whitby: lat=54.4874141, lon=-0.6155111
Processed Prestons: lat=-33.9409247, lon=150.8748897
Processed Slaideburn: lat=None, lon=None
Processed Newcassel: lat=None, lon=None
Processed Shields: lat=43.241373, lon=-88.8077944
Processed Lancashire: lat=53.8611712, lon=-2.5650945
Processed Wales: lat=52.2928116, lon=-3.73893
Processed Winthrop: lat=42.3746525, lon=-70.9825807
Processed March: lat=49.3597062, lon=17.3094202
Processed Whitehaven: lat=54.5474199, lon=-3.5885335
Processed Sandsend: lat=54.5026287, lon=-0.6706598
Processed North Shields: lat=55.0087655, lon=-1.4471035
Processed Middleham: lat=54.286721, lon=-1.8049483
Processed Spitalfields: lat=51.5195274, lon=-0.0751701
Processed Lunnon: lat=51.5074456, lon=-0.1277653
Processed Lunnon,--I: lat=51.3822766, lon=-0.0980745
Processed Gravesend: lat=51.4424747, lon=0.3694468
Processed York---: lat=53.9656579, lon=-1.0743052
Processed Durham: lat=54.666667, lon=-1.75
Processed Yesterbarrow: lat=None, lon=None
Processed fourscore: lat=38.5537, lon=-90.0199031
Processed Norroway: lat=42.1750751, lon=-71.0539689
Processed Haman: lat=48.2232275, lon=12.0863333
Processed Urania: lat=48.211547, lon=16.3837538
Processed Corneys: lat=45.8960492, lon=4.2174947
Processed Hester: lat=-33.904191, lon=116.1627489
Processed Tynemouth: lat=55.0177847, lon=-1.4256042
Processed Tadcaster: lat=53.8852975, lon=-1.2595975
Processed Randyvowse: lat=None, lon=None
Processed Haverstone: lat=None, lon=None
Processed Bridewell: lat=51.7444407, lon=-8.7364953
Processed York Castle: lat=17.9968154, lon=-77.5654936
Processed Collyton: lat=None, lon=None
Processed George: lat=30.857421, lon=-88.6537118
Processed York Minster: lat=53.9623561, lon=-1.0820834
Processed 's Bay: lat=33.819003, lon=-118.3460364
Processed Kinraid: lat=None, lon=None
Processed Esdale: lat=54.8666994, lon=-1.372606
Processed Sylvia: lat=37.9580938, lon=-98.4084398
Processed Martinmas: lat=None, lon=None
Processed Wakefield: lat=53.6829541, lon=-1.4967286
Processed Dublin: lat=53.3493795, lon=-6.2605593
Processed St Jean d'Acre: lat=50.6916688, lon=-1.0909525
Processed Paris: lat=48.8588897, lon=2.320041
Processed Acre: lat=32.9173172, lon=35.0861048
Processed Dartmoor: lat=50.5657349, lon=-3.9009713
Processed Devonshire: lat=50.7241405, lon=-3.6607788
Processed Hartswell: lat=23.4475874, lon=-75.6758131
Processed Bristol: lat=51.4538022, lon=-2.5972985
Processed Jaffa: lat=32.0443395, lon=34.7509908
Processed Joppa: lat=37.2064423, lon=-88.8447822
Processed Palestine: lat=31.7621153, lon=-95.6307891
Processed Jerusalem: lat=31.7788472, lon=35.2257856
Processed Old England: lat=50.8428356, lon=4.3590958
Processed Rule Britannia: lat=None, lon=None
Processed Somersetshire: lat=51.1617509, lon=-3.0753867
Processed Potterne: lat=51.3292472, lon=-2.0003555
Processed Salisbury Plain: lat=51.2486531, lon=-1.8934831
Processed the----th: lat=-32.513661, lon=19.9563016
Processed Quebec: lat=52.4760892, lon=-71.8258668
Processed Christendom: lat=52.2596702, lon=-7.0985056
Processed Warwick: lat=52.2814519, lon=-1.5815742
Processed America: lat=39.7837304, lon=-100.445882
Processed Hollingford: lat=51.6701461, lon=0.2310322
Processed Cumnor: lat=51.7349255, lon=-1.3331621
Processed Whitsuntide: lat=None, lon=None
Processed France: lat=46.603354, lon=1.8883335
Processed London: lat=51.5074456, lon=-0.1277653
Processed Paris: lat=48.8588897, lon=2.320041
Processed Hamley: lat=-34.0817399, lon=137.599391
Processed Oxford: lat=51.7520131, lon=-1.2578499
Processed Rugby: lat=52.3726682, lon=-1.2620038
Processed Cambridge: lat=52.2055314, lon=0.1186637
Processed Trinity: lat=31.0834452, lon=-95.1219348
Processed England: lat=52.5310214, lon=-1.2649062
Processed India: lat=22.3511148, lon=78.6677428
Processed Scylla: lat=-44.3882294, lon=168.7537304
Processed Lammermoor: lat=-23.1617187, lon=150.7676346
Processed Newport: lat=41.4899827, lon=-71.3137707
Processed DANGER: lat=-8.6111781, lon=116.4584975
Processed Maidenhead: lat=51.522743, lon=-0.7197368
Processed Eton: lat=51.4885381, lon=-0.6091736
Processed Ashcombe: lat=50.6058344, lon=-3.5367719
Processed Ashcombe'--um: lat=None, lon=None
Processed Boulogne: lat=46.7947224, lon=-1.3210389
Processed Chelsea: lat=51.4875167, lon=-0.1687007
Processed Michaelmas: lat=50.9503141, lon=-0.1972072
Processed Iceland: lat=64.9841821, lon=-18.1059013
Processed Canonbury: lat=51.5423339, lon=-0.0914333
Processed Ivanhoe: lat=44.463229, lon=-96.247372
Processed Russia: lat=64.6863136, lon=97.7453061
Processed Prussia: lat=41.3738765, lon=-94.506357
Processed Bath: lat=51.3813864, lon=-2.3596963
Processed Brighton: lat=50.8214626, lon=-0.1400561
Processed Belgium: lat=50.6402809, lon=4.6667145
Processed Dover: lat=51.1251275, lon=1.3134228
Processed York: lat=53.9656579, lon=-1.0743052
Processed Matlock: lat=53.1374514, lon=-1.5544694
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Despair: lat=51.0786216, lon=70.9716567
Processed Warwickshire: lat=52.3213064, lon=-1.5536906
Processed Australia: lat=-24.7761086, lon=134.755
Processed Alsace: lat=33.98279, lon=-118.4123635
Processed Germany: lat=51.1638175, lon=10.4478313
Processed Wales: lat=52.2928116, lon=-3.73893
Processed White: lat=38.0632329, lon=-88.1577725
Processed Chillon: lat=38.7967523, lon=-4.8669119
Processed Coreham: lat=None, lon=None
Processed Somerton: lat=51.06161, lon=-2.7548573
Processed Menteith: lat=49.5590763, lon=-100.4426166
Processed mamma: lat=60.2011097, lon=24.9684504
Processed June: lat=30.9461533, lon=74.6953689
Processed Winchester: lat=51.0612766, lon=-1.3131692
Processed Metz: lat=49.1196964, lon=6.1763552
Processed Rowe: lat=42.6952381, lon=-72.8984799
Processed West Spinney: lat=51.6079294, lon=-2.2277971
Processed Combermere: lat=17.190458, lon=-62.5729765
Processed Waterloo: lat=42.498275, lon=-92.3328743
Processed Rome: lat=41.8933203, lon=12.4829321
Processed August: lat=37.979919, lon=-121.2621572
Processed Strasbourg: lat=48.584614, lon=7.7507127
Processed Prestham: lat=None, lon=None
Processed Crichton: lat=38.056227, lon=-80.716201
Processed Havre: lat=48.5536972, lon=-109.677802
Processed America: lat=39.7837304, lon=-100.445882
Processed Moscow: lat=55.625578, lon=37.6063916
Processed Abyssinia: lat=10.2116702, lon=38.6521203
Processed Huon: lat=-36.229654, lon=147.0948726
Processed March: lat=49.3597062, lon=17.3094202
Processed Spa: lat=50.4920654, lon=5.8627569

Processed Africa: lat=11.5024338, lon=17.7578122
Processed Henwick: lat=52.2059209, lon=-2.2451216
Processed Stratford: lat=52.1927803, lon=-1.70634
Processed Arracuoba: lat=None, lon=None
Processed Worcester: lat=42.2625621, lon=-71.8018877
Processed Mdme: lat=14.7030829, lon=-17.4470745
Processed London Kirkpatricks: lat=None, lon=None
Processed Switzerland: lat=46.7985624, lon=8.2319736
Processed Bishopsfield: lat=52.4044203, lon=-8.4719012
Processed BAY: lat=30.2481693, lon=-85.6593633
Processed November: lat=50.8766916, lon=7.1559314
Processed Feversham: lat=44.3400541, lon=-80.3760922
Processed Harrow: lat=51.5968272, lon=-0.3373046
Processed Cape Town: lat=-33.9288301, lon=18.4172197
Processed ADIEUX: lat=48.3743343, lon=2.6621678
Processed Birmingham: lat=52.4796992, lon=-1.9026911
Processed Atherstone: lat=52.5772439, lon=-1.5433954
Processed Carthage: lat=32.1570412, lon=-94.338114
Processed Edinburgh: lat=55.9533456, lon=-3.1883749
Processed Sussex Place: lat=35.863248, lon=-78.6078578
Processed Calais: lat=50.9524769, lon=1.8538446

In [21]:
print(len(latitudes))
print(len(longitudes))
print(len(final_locations))

515
515
515

In [22]:
# Optionally, add latitudes and longitudes back to a DataFrame column for further use
df = pd.DataFrame({'Location': final_locations, 'Latitude': latitudes, 'Longitude': longitudes})

In [23]:
df

         Location   Latitude   Longitude
0          Hamley -34.081740  137.599391
1            Eton  51.488538   -0.609174
2          London  51.507446   -0.127765
3       #¿NOMBRE?   9.582109  -79.468888
4           Paris  48.858890    2.320041
..            ...        ...         ...
510    Atherstone  52.577244   -1.543395
511      Carthage  32.157041  -94.338114
512     Edinburgh  55.953346   -3.188375
513  Sussex Place  35.863248  -78.607858
514        Calais  50.952477    1.853845

[515 rows x 3 columns]

In [24]:
titles = combined_df["Titles"].to_list()

In [25]:
df["Titles"] = titles

In [26]:
df

         Location   Latitude   Longitude               Titles
0          Hamley -34.081740  137.599391   A Dark Nights Work
1            Eton  51.488538   -0.609174   A Dark Nights Work
2          London  51.507446   -0.127765   A Dark Nights Work
3       #¿NOMBRE?   9.582109  -79.468888   A Dark Nights Work
4           Paris  48.858890    2.320041   A Dark Nights Work
..            ...        ...         ...                  ...
510    Atherstone  52.577244   -1.543395  Wives and Daughters
511      Carthage  32.157041  -94.338114  Wives and Daughters
512     Edinburgh  55.953346   -3.188375  Wives and Daughters
513  Sussex Place  35.863248  -78.607858  Wives and Daughters
514        Calais  50.952477    1.853845  Wives and Daughters

[515 rows x 4 columns]

In [28]:
df.to_csv("gaskell_coordinates.csv")