In this notebook we are going to put together all the book titles and dates together!

In [1]:
import pandas as pd

In [11]:
book_names = ["A Christmas Carol", "A Tale of Two Cities", "Barnaby Rudge", "Bleak House", "David Copperfield", 
              "Dombey and Son", "Great Expectations", "Hard Times", "Little Dorrit", "Martin Chuzzlewit", 
              "Nicholas Nickleby", "Old curiosity shop", "Oliver Twist", "Our Mutual Friend", "The Battle of Life",
              "The Chimes", "The Cricket on the Hearth", "The Haunted Man", "The Pickwick Papers"]

In [12]:
dates = [1843, 1859, 1841, 1853, 1850, 1848, 1861, 1854, 1857, 1844, 1839, 1841, 1839, 1865, 1846, 1844, 
        1845, 1848, 1837]

In [13]:
len(book_names)

19

In [14]:
len(dates)

19

In [15]:
data = pd.DataFrame({"Titles" : book_names, "Year" : dates})

In [16]:
data

                       Titles  Year
0           A Christmas Carol  1843
1        A Tale of Two Cities  1859
2               Barnaby Rudge  1841
3                 Bleak House  1853
4           David Copperfield  1850
5              Dombey and Son  1848
6          Great Expectations  1861
7                  Hard Times  1854
8               Little Dorrit  1857
9           Martin Chuzzlewit  1844
10          Nicholas Nickleby  1839
11         Old curiosity shop  1841
12               Oliver Twist  1839
13          Our Mutual Friend  1865
14         The Battle of Life  1846
15                 The Chimes  1844
16  The Cricket on the Hearth  1845
17            The Haunted Man  1848
18        The Pickwick Papers  1837

In [17]:
data.to_csv("Charles_Dickens_dates.csv")