In this notebook we are going to put together all the book titles and dates together!

In [6]:
import pandas as pd

In [7]:
book_names = ["A Connecticut Yankee", "A Horse’s Tale", "Personal Recollections of Joan of Arc", 
              "The Adventures of Tom Sawyer", "The American Claimant", "The Gilded Age", "The Mysterious Stranger",
              "The Prince and the Pauper", "The Tragedy of Pudd’nhead Wilson", "Tom Sawyer Abroad", "Tom Sawyer, Detective"]

In [8]:
dates = [1889, 1907, 1896, 1876, 1892, 1873, 1916, 1881, 1894, 1894, 1896]

In [9]:
len(book_names)

11

In [10]:
len(dates)

11

In [11]:
data = pd.DataFrame({"Titles" : book_names, "Year" : dates})

In [12]:
data

                                   Titles  Year
0                    A Connecticut Yankee  1889
1                          A Horse’s Tale  1907
2   Personal Recollections of Joan of Arc  1896
3            The Adventures of Tom Sawyer  1876
4                   The American Claimant  1892
5                          The Gilded Age  1873
6                 The Mysterious Stranger  1916
7               The Prince and the Pauper  1881
8        The Tragedy of Pudd’nhead Wilson  1894
9                       Tom Sawyer Abroad  1894
10                  Tom Sawyer, Detective  1896

In [13]:
data.to_csv("Mark_Twain_dates.csv")