In [35]:
#pip install geopy

In [1]:
import pandas as pd
import os

import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import time

In [6]:
# List of input CSV file paths

input_files = [
    r"output_files\a_connecticut_yankee_gpe.csv",
    r"output_files\a_horse_tale_gpe.csv",
    r"output_files\Personal_Recollections_of_Joan_of_Arc_gpe.csv",
    r"output_files\The_Adventures_of_Tom_Sawyer_gpe.csv", 
    r"output_files\The_American_Claimant_NER_gpe.csv",
    r"output_files\The_Gilded_Age_gpe.csv",
    r"output_files\The_Mysterious_Stranger_gpe.csv",
    r"output_files\The_Prince_and_the_Pauper_gpe.csv",
    r"output_files\The_Tragedy_of_Pudd’nhead_Wilson_gpe.csv",
    r"output_files\Tom_Sawyer_Abroad_gpe.csv", 
    r"output_files\Tom_Sawyer_Detective_gpe.csv"
]

In [8]:
output_dir = "filtered_gpe"
os.makedirs(output_dir, exist_ok=True)

for file_path in input_files:
    df = pd.read_csv(file_path)
    df_b = df.drop(["COREF", "start_token", "end_token", "prop", "cat"], axis=1)
    title = os.path.basename(file_path).replace("_gpe.csv", "")
    df_b["Titles"] = [title] * len(df_b)
    output_path = os.path.join(output_dir, os.path.basename(file_path))
    df_b.to_csv(output_path, index=False)

So now we have all our GPEs saved in the directory "filtered gpe". Now let's combine all of them into a unique csv dataframe

In [9]:
all_dfs = []

for file_path in input_files:
    df = pd.read_csv(file_path)
    df_b = df.drop(["COREF", "start_token", "end_token", "prop", "cat"], axis=1)
    title = os.path.basename(file_path).replace("_gpe.csv", "")
    df_b["Titles"] = [title] * len(df_b)
    all_dfs.append(df_b)

# Concatenate all dataframes into one
combined_df = pd.concat(all_dfs, ignore_index=True)

In [11]:
combined_df

               text                Titles
0           England  a_connecticut_yankee
1          HARTFORD  a_connecticut_yankee
2        Whitsunday  a_connecticut_yankee
3           Camelot  a_connecticut_yankee
4          Arkansas  a_connecticut_yankee
..              ...                   ...
570       Louisiana  Tom_Sawyer_Detective
571       St. Louis  Tom_Sawyer_Detective
572      Elexandria  Tom_Sawyer_Detective
573            Iowa  Tom_Sawyer_Detective
574  Jubiter Dunlap  Tom_Sawyer_Detective

[575 rows x 2 columns]

Now let's substitute those titles for ones that look better

In [15]:
# Example mapping dictionary
title_map = {
    "a_connecticut_yankee" : "A Connecticut Yankee",
    "a_horse_tale" : "A Horse Tale",
    "Personal_Recollections_of_Joan_of_Arc" : "Personal Recollections of Joan of Arc",
    "The_Adventures_of_Tom_Sawyer" : "The Adventures of Tom Sawyer",
    "The_American_Claimant" : "The American Claimant",
    "The_Gilded_Age" : "The Gilded Age", 
    "The_Mysterious_Stranger" : "The Mysterious Stranger",
    "The_Prince_and_the_Pauper" : "The Prince and the Pauper",
    "The_Tragedy_of_Pudd’nhead_Wilson" :  "The Tragedy of Pudd’nhead Wilson",
    "Tom_Sawyer_Abroad" : "Tom Sawyer Abroad", 
    "Tom_Sawyer_Detective" : "Tom Sawyer Detective"
}

# Replace the titles using .replace with the mapping
combined_df["Titles"] = combined_df["Titles"].replace(title_map)

In [16]:
combined_df

               text                Titles
0           England  A Connecticut Yankee
1          HARTFORD  A Connecticut Yankee
2        Whitsunday  A Connecticut Yankee
3           Camelot  A Connecticut Yankee
4          Arkansas  A Connecticut Yankee
..              ...                   ...
570       Louisiana  Tom Sawyer Detective
571       St. Louis  Tom Sawyer Detective
572      Elexandria  Tom Sawyer Detective
573            Iowa  Tom Sawyer Detective
574  Jubiter Dunlap  Tom Sawyer Detective

[575 rows x 2 columns]

We are going to use the Python Library "Geopy" (https://geopy.readthedocs.io/en/stable/) to add the coordinates (LAT/LON) of the text column.

In [17]:
geolocator = Nominatim(user_agent="my_geo_app")

We can also see that geopy outputs the coordinates of the capital of "Great Britain" (London), if the name of a country is provided. That is great, as we will have many examples of that in our full data analysis. 

Let's now produce a csv dataframe with all the lattitudes and longitudes of our datafarme.

In [18]:
final_locations = combined_df["text"].to_list()

In [19]:
# Create empty lists to store results
latitudes = []
longitudes = []

for loc in final_locations:
    try:
        location = geolocator.geocode(loc)
        if location:
            latitudes.append(location.latitude)
            longitudes.append(location.longitude)
        else:
            latitudes.append(None)
            longitudes.append(None)
        print(f"Processed {loc}: lat={latitudes[-1]}, lon={longitudes[-1]}")
    except Exception as e:
        latitudes.append(None)
        longitudes.append(None)
        print(f"Error on {loc}: {e}")
    time.sleep(1)

Processed England: lat=52.5310214, lon=-1.2649062
Processed HARTFORD: lat=41.764582, lon=-72.6908547
Processed Whitsunday: lat=-20.6939435, lon=147.7217804
Processed Camelot: lat=-33.9583333, lon=18.6666667
Processed Arkansas: lat=35.2048883, lon=-92.4479108
Processed Carlion: lat=35.8836337, lon=-78.9281394
Error on Egypt: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Egypt&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Processed India: lat=22.3511148, lon=78.6677428
Processed East Hartford: lat=41.767914, lon=-72.644512
Processed Land: lat=60.2340258, lon=9.8743057
Processed London: lat=51.5074456, lon=-0.1277653
Processed France: lat=46.603354, lon=1.8883335
Processed America: lat=39.7837304, lon=-100.445882
Processed Ireland: lat=52.865196, lon=-7.9794599
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Gore: lat=-46.0984482, lon=168.9447811
Processed Columbus: lat=39.9622601, lon=-83.0007065
Processed Moder: lat=48.8244784, lon=7.7362027
Processed East Har--: lat=-33.283392, lon=26.5623743
Processed Connecticut: lat=41.6500201, lon=-72.7342163
Processed Britain: lat=54.3151594, lon=-1.9181532
Processed Arthur: lat=41.5721288, lon=-101.6974898
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Columbia: lat=4.099917, lon=-72.9088133
Processed Palestine: lat=31.7621153, lon=-95.6307891
Processed the United States: lat=47.8291375, lon=-122.5970742
Processed Sheol: lat=51.3844202, lon=-116.222004
Processed La: lat=20.0171109, lon=103.378253
Processed Christendom: lat=52.2596702, lon=-7.0985056
Processed Arthurdom: lat=None, lon=None
Processed Lecky: lat=53.6171453, lon=-10.1218789
Processed Africa: lat=11.5024338, lon=17.7578122
Processed Asia: lat=51.2086975, lon=89.2343748
Processed West Point: lat=41.3558443, lon=-74.0078312
Processed Gaul: lat=50.1813995, lon=7.6535842
Processed Halibut: lat=27.7366131, lon=-97.4807283
Processed Cornwall: lat=50.416667, lon=-4.75
Processed South Astolat: lat=-33.9082811, lon=151.2445366
Processed Pisa: lat=43.4714722, lon=10.6797912
Processed Wayback: lat=-33.8225802, lon=151.0093458
Processed Paradise: lat=36.0724299, lon=-115.1474759
Processed Bagdemagus: lat=None, lon=None
Processed Cambenet: lat=None, lon=None
Processed Astolat: lat=51.256838, lon=-0.5402557
Processed West Hartford: lat=41.7620447, lon=-72.7420399
Processed Europe: lat=51.0, lon=10.0
Processed CENTRAL: lat=14.6446934, lon=121.0504257
Processed LOTHIAN: lat=38.8297276, lon=-76.6159457
Processed LITTLE BRITAIN: lat=44.2855468, lon=-78.8599597
Processed LABOR: lat=45.4930144, lon=13.7489699
Processed SYRIA: lat=34.6401861, lon=39.0494106
Processed Dover: lat=51.1251275, lon=1.3134228
Processed Canterbury: lat=51.2800275, lon=1.0802533
Processed his Duchy of Guienne: lat=None, lon=None
Processed Guienne: lat=43.578027, lon=5.4098335
Processed Barham: lat=51.2044715, lon=1.1569061
Processed Kent: lat=51.2070749, lon=0.7210362
Processed Salisbury: lat=51.0690613, lon=-1.7954134
Processed Almesbury: lat=43.0667666, lon=-88.1797639
Processed Cadiz--: lat=10.956652, lon=123.3057034
Processed Cadiz: lat=10.956652, lon=123.3057034
Processed Merlin's: lat=43.1116005, lon=12.3891051
Processed Shoshone: lat=47.305486, lon=-115.9583164
Processed Cheyenne: lat=41.139981, lon=-104.820246
Processed American: lat=39.7837304, lon=-100.445882
Processed Kentucky: lat=37.5726028, lon=-85.1551411
Processed Fort Paxton: lat=40.3445976, lon=-76.9098544
Processed Seventh Cavalry: lat=44.1293733, lon=-103.3777126
Processed France: lat=46.603354, lon=1.8883335
Processed America: lat=39.7837304, lon=-100.445882
Processed Spain: lat=39.3260685, lon=-4.8379791
Processed ROUEN: lat=49.4404591, lon=1.0939658
Processed California: lat=36.7014631, lon=-118.755997
Processed San Bernardino: lat=34.8253019, lon=-116.0833144
Processed Jerusalem: lat=31.7788472, lon=35.2257856
Processed Australia: lat=-24.7761086, lon=134.755
Processed Virginia: lat=37.1232245, lon=-78.4927721
Processed Cuba: lat=23.0131338, lon=-80.8328748
Processed Arizona: lat=34.395342, lon=-111.763275
Processed Philadelphia: lat=39.9527237, lon=-75.1635262
Processed Clayton: lat=33.5204959, lon=-84.3591713
Processed Andalusian: lat=26.6272856, lon=-80.2062536
Processed Oregonian: lat=45.4858348, lon=-122.7571016
Processed Sancho: lat=39.9553192, lon=-0.932704
Processed Ceylon: lat=43.5335672, lon=-94.6316462
Processed Missouri: lat=38.7604815, lon=-92.5617875
Processed Georgia: lat=32.3293809, lon=-83.1137366
Processed West Point: lat=41.3558443, lon=-74.0078312
Processed DOMREMY: lat=52.7882162, lon=-105.7300871
Processed Paris: lat=48.8534951, lon=2.3483915
Processed France: lat=46.603354, lon=1.8883335
Processed COURT: lat=47.2398992, lon=7.337079
Processed CAMP: lat=32.9723128, lon=-94.9852858
Processed His Glory: lat=50.7933101, lon=-1.076196
Processed Smash: lat=48.8712631, lon=2.3074957
Processed Nobility: lat=33.3759672, lon=-96.3664317
Processed CHABANNES: lat=45.1314264, lon=1.5101856
Processed Lorraine: lat=38.5688999, lon=-98.3171492
Error on F.S.A.: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=F.S.A.&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Processed Christendom: lat=52.2596702, lon=-7.0985056
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Europe: lat=51.0, lon=10.0
Processed England: lat=52.5310214, lon=-1.2649062
Processed Neufchateau: lat=48.3553014, lon=5.6948571
Processed Agincourt: lat=48.7323472, lon=6.236384
Processed Vaucouleurs: lat=48.6017525, lon=5.6656143
Processed Bourlemont: lat=48.3914247, lon=5.6619616
Processed Troyes: lat=48.2971626, lon=4.0746257
Processed Burgundy: lat=47.2780873, lon=4.2224863
Processed Maxey: lat=52.6596009, lon=-0.3344452
Processed London: lat=51.5074456, lon=-0.1277653
Processed Orleans: lat=47.9027336, lon=1.9086066
Processed Saintrailles: lat=None, lon=None
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Burey: lat=48.9842498, lon=0.9490506
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Toul: lat=48.6762624, lon=5.8941759
Processed Haumette: lat=None, lon=None
Processed Satan: lat=49.1631527, lon=20.0528304
Processed Gien: lat=47.6918575, lon=2.6313889
Processed Fierbois: lat=47.1617736, lon=-0.2534789
Processed Chinon: lat=47.1667182, lon=0.2402095
Processed Rheims: lat=42.4009049, lon=-77.2538665
Processed Sicily: lat=37.587794, lon=14.155048
Processed Courdray: lat=50.9819795, lon=11.3221885
Processed Vendome: lat=47.7934453, lon=1.0662256
Processed Courdray Castle: lat=None, lon=None
Processed Beaulieu: lat=47.7277699, lon=4.7269377
Processed Alencon: lat=48.4312059, lon=0.0911374
Processed Poitiers: lat=46.5802596, lon=0.340196
Processed Limoges: lat=45.8354243, lon=1.2644847
Processed La Hire: lat=46.8981468, lon=1.0750736
Processed Blois: lat=47.5876861, lon=1.3337639
Processed Tours: lat=47.3900474, lon=0.6889268
Processed Dâ€™Aulon: lat=42.8510852, lon=0.2965416
Processed Olivet: lat=47.8650984, lon=1.9015752
Processed Checy: lat=47.9019, lon=2.02135
Processed Talbot: lat=32.6984691, lon=-84.505404
Processed St. Louis: lat=38.6280278, lon=-90.1910154
Processed St. Loup: lat=48.7378389, lon=3.8121217
Processed Bedford: lat=40.0271453, lon=-78.5237447
Processed Suffolk: lat=52.2410014, lon=1.0465716
Processed Rouen: lat=49.4404591, lon=1.0939658
Processed Paradise: lat=36.0724299, lon=-115.1474759
Processed February: lat=36.333438, lon=-82.4995913
Processed St. Aignan: lat=-10.6641058, lon=152.7340822
Processed St. Prive: lat=46.7062706, lon=4.5800285
Processed Tourelles: lat=47.8948607, lon=1.9036424
Processed Loches: lat=47.1281692, lon=0.9979549
Processed Selles: lat=50.7005392, lon=1.8964644
Processed Berry: lat=33.6598332, lon=-87.6000098
Processed Romorantin: lat=47.3592182, lon=1.7434925
Processed Loire: lat=45.7538536, lon=4.0454737
Processed Jargeau: lat=47.8649447, lon=2.1242805
Processed Etampes: lat=48.4344621, lon=2.1614464
Processed Janville: lat=49.1635438, lon=-0.1615815

Processed Dinant: lat=50.2591813, lon=4.9130588
Processed HARTFORD: lat=41.764582, lon=-72.6908547
Processed St. Petersburg: lat=59.938732, lon=30.316229
Processed England: lat=52.5310214, lon=-1.2649062
Processed Constantinople: lat=41.006381, lon=28.9758715
Processed America: lat=39.7837304, lon=-100.445882
Processed the United States: lat=47.8291375, lon=-122.5970742
Processed Rubbage: lat=50.9029697, lon=-1.5524802
Processed Coonville: lat=39.3984029, lon=-82.3393186
Processed Guisborne: lat=36.6930692, lon=-76.2575166
Processed Nottingham: lat=52.9534193, lon=-1.1496461
Processed Sherwood Forest: lat=53.2078695, lon=-1.0824054
Processed Hellum: lat=53.2386461, lon=6.8384474
Processed Port: lat=46.1635975, lon=5.5710285
Processed Glory: lat=31.3679749, lon=-83.1434854
Processed ALABAMA: lat=33.2588817, lon=-86.8295337
Processed Coosa: lat=32.9181762, lon=-86.2327497
Processed St. Louis: lat=38.6280278, lon=-90.1910154
Processed Europe: lat=51.0, lon=10.0
Processed Texas: lat=31.2638905, lon=-98.5456116
Processed Troy: lat=42.7284117, lon=-73.6917878
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Lexington: lat=38.0464066, lon=-84.4970393
Processed Eschol: lat=-32.3488889, lon=148.6544444
Processed Hartford: lat=41.764582, lon=-72.6908547
Processed Rossmore: lat=37.804877, lon=-81.9924816
Processed London: lat=51.5074456, lon=-0.1277653
Processed Falaise: lat=48.8964741, lon=-0.1999129
Processed Warwickshire: lat=52.3213064, lon=-1.5536906
Processed America: lat=39.7837304, lon=-100.445882
Processed Virginia: lat=37.1232245, lon=-78.4927721
Processed England: lat=52.5310214, lon=-1.2649062
Processed Maryland: lat=39.5162401, lon=-76.9382069
Processed WASHINGTON: lat=38.8950368, lon=-77.0365427
Processed Duffy: lat=-35.3345516, lon=149.0318996
Processed SIBERIA: lat=45.1685441, lon=8.0902162
Processed Libertyorloffskoizalinski: lat=None, lon=None
Processed Hawkeye: lat=42.9385533, lon=-91.9509636
Processed St. James: lat=51.5069112, lon=-0.1331561
Processed Paris: lat=48.8534951, lon=2.3483915
Processed China: lat=35.000074, lon=104.999927
Processed Japan: lat=36.5748441, lon=139.2394179
Processed the United States of America: lat=47.8291375, lon=-122.5970742
Processed Russia: lat=64.6863136, lon=97.7453061
Processed Cherokee Strip: lat=35.4671811, lon=-119.2606647
Processed Sheridan: lat=39.3530598, lon=-100.457645
Processed Stratford - on - Avon: lat=52.1927803, lon=-1.70634
Processed New York: lat=40.7127281, lon=-74.0060152
Processed Europe: lat=51.0, lon=10.0
Processed Tahlequah: lat=35.91537, lon=-94.969956
Processed Baltimore: lat=39.2908816, lon=-76.610759
Processed Duffy â€™s Corners: lat=None, lon=None
Processed Arkansas: lat=35.2048883, lon=-92.4479108
Processed St. Louis: lat=38.6280278, lon=-90.1910154
Processed Great Britain: lat=54.3151594, lon=-1.9181532
Processed Buccleugh: lat=-43.6883245, lon=171.4448047
Processed Grafton: lat=43.9702453, lon=-71.8742626
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed the District of Columbia: lat=38.8950368, lon=-77.0365427
Processed Columbia: lat=4.099917, lon=-72.9088133
Processed San Francisco: lat=37.7792588, lon=-122.4193286
Processed Christendom: lat=52.2596702, lon=-7.0985056
Processed Princeton: lat=40.3496953, lon=-74.6597376
Processed Vesuvius: lat=40.8213963, lon=14.4261967
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Golconda: lat=37.3672744, lon=-88.4864316
Processed Sewer: lat=-5.931667, lon=134.682778
Processed Land: lat=60.2340258, lon=9.8743057
Processed Gibraltar: lat=36.1285933, lon=-5.3474761
Processed Sheol: lat=51.3844202, lon=-116.222004
Processed York: lat=53.9656579, lon=-1.0743052
Processed Lancaster: lat=40.0379958, lon=-76.3056707
Processed Siloam: lat=33.5367968, lon=-83.0809864
Processed Snodgrass: lat=36.7251134, lon=-81.8320673
Processed Zylobalsamum: lat=None, lon=None
Processed Greenland: lat=77.6192349, lon=-42.8125967
Processed Iceland: lat=64.9841821, lon=-18.1059013
Processed Kerak - Moab_.â€â€”_Clinton Scollard: lat=None, lon=None
Processed Gettysburg: lat=39.8308973, lon=-77.231012
Processed Bindarra: lat=-46.0776875, lon=169.3452712
Processed Obedstown: lat=None, lon=None
Processed East Tennessee: lat=35.7995377, lon=-84.1051993
Processed United States: lat=39.7837304, lon=-100.445882
Processed Shelby: lat=31.7716364, lon=-94.1301652
Processed Mozouri: lat=None, lon=None
Processed Kaintuck: lat=46.0472488, lon=-80.8025475
Processed Turpentine: lat=-45.4920311, lon=167.1948158
Processed Missouri: lat=38.7604815, lon=-92.5617875
Processed New Orleans: lat=29.9559145, lon=-90.0730259
Error on the Eastern States: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=the+Eastern+States&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Processed Virginia: lat=37.1232245, lon=-78.4927721
Processed Kentucky: lat=37.5726028, lon=-85.1551411
Processed Delaware: lat=38.6920451, lon=-75.4013315
Processed Tennessee: lat=35.7730076, lon=-86.2820081
Processed Alabama: lat=33.2588817, lon=-86.8295337
Processed Cincinnati: lat=39.1014537, lon=-84.5124602
Processed his Itinerary of Spain and Portugal: lat=None, lon=None
Processed Spain: lat=39.3260685, lon=-4.8379791
Processed Portugal: lat=39.6621648, lon=-8.1353519
Processed Napoleon: lat=41.3922726, lon=-84.1252243
Processed Cairo: lat=30.0443879, lon=31.2357257
Processed Hastings: lat=50.8550976, lon=0.5821779
Processed St. Louis: lat=38.6280278, lon=-90.1910154
Processed Memphis: lat=35.1460249, lon=-90.0517638
Processed Cuba: lat=23.0131338, lon=-80.8328748
Processed the Atlantic States: lat=None, lon=None
Processed Tennessee Land: lat=9.9439185, lon=123.3809804
Processed Washington: lat=38.8950368, lon=-77.0365427
Processed Philadelphia: lat=39.9527237, lon=-75.1635262
Processed Hawkeye: lat=42.9385533, lon=-91.9509636
Processed Swansea: lat=51.6195955, lon=-3.9459248
Processed Via: lat=42.4885816, lon=2.0405929
Processed Pecunia: lat=-17.731016, lon=-48.1879852
Processed Christendom: lat=52.2596702, lon=-7.0985056
Processed London: lat=51.5074456, lon=-0.1277653
Processed Paris: lat=48.8534951, lon=2.3483915
Processed France: lat=46.603354, lon=1.8883335
Processed Ohio: lat=40.2253569, lon=-82.6881395
Processed Indiana: lat=40.3270127, lon=-86.1746933
Processed Illinois: lat=40.0796606, lon=-89.4337288
Processed Iowa: lat=41.9216734, lon=-93.3122705
Processed Arkansas: lat=35.2048883, lon=-92.4479108
Processed America: lat=39.7837304, lon=-100.445882
Processed Constantinople: lat=41.006381, lon=28.9758715
Processed Ispahan: lat=32.6707877, lon=51.6650002
Processed Bagdad: lat=33.3061701, lon=44.3872213
Processed Damascus: lat=39.2884381, lon=-77.2038717
Processed Jerusalem: lat=31.7788472, lon=35.2257856
Processed Yedo: lat=9.48333, lon=37.93333
Processed Peking: lat=40.190632, lon=116.412144
Processed Bangkok: lat=13.7524938, lon=100.4935089
Processed Delhi: lat=28.6328027, lon=77.2197713
Processed Bombay: lat=19.054999, lon=72.8692035
Processed Calcutta: lat=22.5726459, lon=88.3638953
Processed St Louis: lat=38.6280278, lon=-90.1910154
Processed BRIERLY: lat=45.608147, lon=-62.0672493
Processed CHILE: lat=-31.7613365, lon=-71.3187697
Processed L.: lat=50.9358672, lon=22.8307732
Processed New York: lat=40.7127281, lon=-74.0060152
Processed Boston: lat=42.3554334, lon=-71.060511
Processed Baltimore: lat=39.2908816, lon=-76.610759
Processed Lafayette: lat=30.2262187, lon=-92.0178202
Processed New Jersey: lat=40.0757384, lon=-74.4041622
Processed Broadway: lat=40.8076454, lon=-73.9640474
Processed Yale: lat=41.2571306, lon=-72.9896696
Processed Montreal: lat=45.5031824, lon=-73.5698065
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed Panama: lat=8.559559, lon=-81.1308434
Processed Peoria: lat=40.6938609, lon=-89.5891008
Processed St. Jo: lat=33.6948279, lon=-97.5225245
Processed India: lat=22.3511148, lon=78.6677428
Processed Cathay: lat=47.5536134, lon=-99.4089952
Processed Jersey City: lat=40.7215682, lon=-74.047455
Processed Portland: lat=45.5202471, lon=-122.674194
Processed Chicago: lat=41.8755616, lon=-87.6244212

Processed Alton: lat=38.8908583, lon=-90.1843091
Processed Camden: lat=39.9448402, lon=-75.1198911
Processed Amboy: lat=43.887871, lon=-94.1585259
Processed Naples: lat=40.8358846, lon=14.2487679
Processed Greece: lat=38.9953683, lon=21.9877132
Processed Philadelphian: lat=39.9665585, lon=-75.177895
Processed Germantown: lat=39.1712341, lon=-77.2655648
Processed Tunkhannock: lat=41.5385159, lon=-75.946844
Processed Harrisburg: lat=40.2663107, lon=-76.8861122
Processed Magnolia: lat=30.2095594, lon=-95.7507897
Processed Louis: lat=0.4105973, lon=9.4328279
Processed Massachusetts: lat=42.3788774, lon=-72.032366
Error on Stone 's Landing: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Stone+%27s+Landing&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Processed Goose Run: lat=40.5410456, lon=-80.6366493
Processed Columbus: lat=39.9622601, lon=-83.0007065
Processed Unionist: lat=51.5132356, lon=-0.3109043
Processed Confederate: lat=36.9919966, lon=-87.9975209
Processed Murpheysburg: lat=None, lon=None
Processed Harding: lat=45.5509163, lon=-103.4791412
Processed Fallkill: lat=41.7017452, lon=-73.9161994
Processed REALITY: lat=37.7517141, lon=-122.42028
Processed HERE: lat=51.5030443, lon=-0.0015493
Processed THE BONFIRE: lat=44.6510236, lon=-63.5926956
Processed Stone: lat=36.7377156, lon=-93.4555059
Processed Jefferson City: lat=38.577359, lon=-92.1724265
Processed Landing: lat=40.9088675, lon=-74.6571746
Processed Delft Haven: lat=51.9989024, lon=4.3669266
Processed Massachusetts Bay: lat=42.3750987, lon=-70.7494879
Processed Cambridge: lat=52.2055314, lon=0.1186637
Processed New England: lat=44.2057083, lon=-70.7537839
Processed Lower California: lat=46.8655086, lon=-67.762917
Processed Arizona: lat=34.395342, lon=-111.763275
Processed Territories: lat=-51.7157776, lon=-59.5153027
Processed Columbus River Slack - water: lat=None, lon=None
Processed East: lat=12.255555, lon=1.0095764
Processed Slouchburg: lat=None, lon=None
Processed Doodleville: lat=31.4725146, lon=-84.9975919
Processed Belshazzar: lat=14.6231581, lon=121.1220543
Processed Babylon: lat=49.3975285, lon=12.8617005
Processed Columbia: lat=4.099917, lon=-72.9088133
Processed Hallelujah: lat=44.4089529, lon=-107.1692706
Processed Corruptionville: lat=None, lon=None
Processed Catfish: lat=41.0066176, lon=-79.5863051
Processed Hail: lat=26.9920987, lon=41.4892578
Processed Hark: lat=59.385532, lon=24.5826355
Processed Halifax: lat=44.648618, lon=-63.5859487
Processed Hawkeye'll: lat=42.9385533, lon=-91.9509636
Processed Central Africa: lat=-25.3579401, lon=-57.5835295
Processed BALAAM: lat=52.4050256, lon=-2.0198711
Processed Ilium: lat=37.9297158, lon=-107.8978431
Processed Pennsylvania: lat=40.9699889, lon=-77.7278831
Processed H----: lat=50.6080651, lon=9.0284647
Processed Shanghai: lat=31.2312707, lon=121.4700152
Processed Bascom: lat=30.927965, lon=-85.1185405
Processed Queens: lat=40.7135078, lon=-73.8283132
Processed Injun: lat=45.0446871, lon=-88.5293052
Processed Dilworthy: lat=None, lon=None
Processed New Hampshire: lat=43.4849133, lon=-71.6553992
Processed Newport: lat=41.4899827, lon=-71.3137707
Processed Cape: lat=16.0000552, lon=-24.0083947
Processed Cork: lat=51.8985136, lon=-8.4726423
Processed Sing - Sing: lat=41.1517342, lon=-73.8671266
Processed Europe: lat=51.0, lon=10.0
Processed Florida: lat=27.7567667, lon=-81.4639835
Processed St. Augustine: lat=40.7183728, lon=-90.4109616
Processed Richmond: lat=37.5385087, lon=-77.43428
Processed Buckstone: lat=55.9073678, lon=-3.2029525
Processed China: lat=35.000074, lon=104.999927
Processed Austria: lat=47.59397, lon=14.12456
Processed England: lat=52.5310214, lon=-1.2649062
Processed Laura: lat=43.541256, lon=10.52721
Processed New England City: lat=52.5934191, lon=-0.2491985
Processed Santo Domingo: lat=18.4713858, lon=-69.8918436
Processed Louisiana: lat=30.8703881, lon=-92.007126
Processed Georgetown:--: lat=6.8137426, lon=-58.1624465
Processed Georgetown: lat=6.8137426, lon=-58.1624465
Processed New York Tribune: lat=40.7012503, lon=-73.6896172
Processed Zurich: lat=47.3744489, lon=8.5410422
Processed Switzerland: lat=46.7985624, lon=8.2319736
Processed Selby: lat=53.785097, lon=-1.0990407
Processed Sheba: lat=31.2457442, lon=34.7925181
Processed Congress'--that: lat=44.9313556, lon=-93.0733954
Processed Freiburg: lat=47.9960901, lon=7.8494005
Processed Creuzot: lat=47.1516051, lon=3.9249022
Processed Hong Kong: lat=22.350627, lon=114.1849161
Processed Arlington: lat=32.7355816, lon=-97.1071186
Processed Providence: lat=41.8239891, lon=-71.4128343
Processed Wilmington: lat=39.7459468, lon=-75.546589
Processed Jersey: lat=49.2214561, lon=-2.1358386
Processed Elizabeth: lat=40.6639916, lon=-74.2107006
Processed Princeton: lat=40.3496953, lon=-74.6597376
Processed Newark: lat=40.735657, lon=-74.1723667
Processed Newarks: lat=51.7746789, lon=0.3786416
Processed Scotia: lat=56.7861112, lon=-4.1140518
Processed Berlin: lat=52.5173885, lon=13.3951309
Processed Corinth: lat=34.9343599, lon=-88.5223353
Processed Mobile: lat=30.6913462, lon=-88.0437509
Processed San Francisco: lat=37.7792588, lon=-122.4193286
Processed November: lat=50.8766916, lon=7.1559314
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Cattleville: lat=None, lon=None
Processed West: lat=18.7668687, lon=-72.4387315
Processed Mississippi: lat=32.9715285, lon=-89.7348497
Processed #¿NOMBRE?: lat=9.5821089, lon=-79.4688881
Processed Melbourne: lat=-37.8142454, lon=144.9631732
Processed Australia: lat=-24.7761086, lon=134.755
Processed the States: lat=39.7837304, lon=-100.445882
Processed Salt Lake: lat=40.6632297, lon=-111.9103124
Processed Jefferson: lat=29.834772, lon=-94.1704496
Processed Lancaster: lat=40.0379958, lon=-76.3056707
Processed Heliogabalus: lat=None, lon=None
Processed Chester: lat=53.1908873, lon=-2.8908955
Processed Austria: lat=47.59397, lon=14.12456
Processed Eseldorf: lat=None, lon=None
Processed Vienna: lat=48.2083537, lon=16.3725042
Processed Providence: lat=41.8239891, lon=-71.4128343
Processed China: lat=35.000074, lon=104.999927
Processed America: lat=39.7837304, lon=-100.445882
Processed Germany: lat=51.1638175, lon=10.4478313
Processed Sodom: lat=37.916493, lon=-81.8331758
Processed Europe: lat=51.0, lon=10.0
Processed India: lat=22.3511148, lon=78.6677428
Processed Ceylon: lat=43.5335672, lon=-94.6316462
Processed Portugal: lat=39.6621648, lon=-8.1353519
Processed Bombay: lat=19.054999, lon=72.8692035
Processed New York: lat=40.7127281, lon=-74.0060152
Processed London: lat=51.5074456, lon=-0.1277653
Processed England: lat=52.5310214, lon=-1.2649062
Processed Wales: lat=52.2928116, lon=-3.73893
Processed Cheapside: lat=51.5138049, lon=-0.0921771
Processed Smithfield: lat=35.5111996, lon=-78.346102
Processed Charing Village: lat=51.2114244, lon=0.794972
Processed Westminster: lat=51.5004439, lon=-0.1265398
Processed Poverty: lat=37.5708791, lon=-87.321111
Processed Norfolk: lat=52.666667, lon=1.0
Processed Berkeley: lat=37.8708393, lon=-122.272863
Processed Holland: lat=52.2434979, lon=5.6343227
Processed Somerset: lat=51.1617509, lon=-3.0753867
Processed London Bridge: lat=51.508049, lon=-0.0876715
Processed Southwark: lat=51.5061349, lon=-0.1011379
Processed Bucklersbury: lat=51.5129284, lon=-0.0902888
Processed Russia: lat=64.6863136, lon=97.7453061
Processed Prussia: lat=41.3738765, lon=-94.506357
Processed Kent: lat=51.2070749, lon=0.7210362
Processed France: lat=46.603354, lon=1.8883335
Processed Windsor Forest: lat=31.9766006, lon=-81.1323332
Processed Canterbury: lat=51.2800275, lon=1.0802533
Processed Lancaster: lat=40.0379958, lon=-76.3056707
Processed Durham--: lat=54.666667, lon=-1.75
Processed Billingsgate--: lat=51.5093795, lon=-0.0831144
Processed Marlow: lat=54.1556493, lon=12.5725117
Processed Hertford: lat=36.3560545, lon=-77.0115135
Processed Germany: lat=51.1638175, lon=10.4478313
Processed Islington: lat=51.5384287, lon=-0.0999051
Processed Hendon: lat=51.5897175, lon=-0.2216026
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Heaven: lat=51.507865, lon=-0.1245597

Processed Europe: lat=51.0, lon=10.0
Processed Yonder: lat=51.5583678, lon=5.0589003
Processed Windsor: lat=42.2858536, lon=-82.9780695
Processed Heathennesse: lat=None, lon=None
Processed Christian England: lat=42.3366323, lon=-71.1449366
Processed Scone: lat=56.4204776, lon=-3.39916
Processed Kingsale: lat=36.6956786, lon=-76.8125708
Processed Flanders: lat=51.0962462, lon=4.1786291
Processed Hamburg: lat=53.550341, lon=10.000654
Processed Huntingdon: lat=40.3446332, lon=-78.0281185
Processed Connecticut: lat=41.6500201, lon=-72.7342163
Processed New Haven: lat=41.3082138, lon=-72.9250518
Processed Papistry.--J. Heneage Jesse â€™s London: lat=None, lon=None
Processed London.--Ibid: lat=None, lon=None
Processed Anacreon: lat=48.8385103, lon=-1.6006345
Processed America: lat=39.7837304, lon=-100.445882
Processed southwest Missouri: lat=39.2974026, lon=-94.719359
Processed Florence: lat=43.7697955, lon=11.2556404
Processed Settignano: lat=43.7829916, lon=11.3208169
Processed Dawson 's Landing: lat=51.0313042, lon=-113.8479543
Processed St. Louis: lat=38.6280278, lon=-90.1910154
Processed Venice: lat=45.4371908, lon=12.3345898
Processed Cairo: lat=30.0443879, lon=31.2357257
Processed Memphis: lat=35.1460249, lon=-90.0517638
Processed Orleans: lat=47.9027336, lon=1.9086066
Processed St. Anthony: lat=42.1236441, lon=-93.1973467
Processed New Orleans: lat=29.9559145, lon=-90.0730259
Processed Virginia: lat=37.1232245, lon=-78.4927721
Processed the State of New York: lat=40.8622431, lon=-73.8771541
Processed Englan: lat=26.1801353, lon=94.2538308
Processed Landing: lat=40.9088675, lon=-74.6571746
Processed Yale: lat=41.2571306, lon=-72.9896696
Processed Europe: lat=51.0, lon=10.0
Processed the United States: lat=47.8291375, lon=-122.5970742
Processed Glory: lat=31.3679749, lon=-83.1434854
Processed Italy: lat=42.6384261, lon=12.674297
Processed Germany: lat=51.1638175, lon=10.4478313
Processed Berlin: lat=52.5173885, lon=13.3951309
Processed London: lat=51.5074456, lon=-0.1277653
Processed Paris: lat=48.8588897, lon=2.320041
Processed Russia: lat=64.6863136, lon=97.7453061
Processed India: lat=22.3511148, lon=78.6677428
Processed China: lat=35.000074, lon=104.999927
Processed Japan--: lat=36.5748441, lon=139.2394179
Processed Cincinnati: lat=39.1014537, lon=-84.5124602
Processed Krakatoa: lat=-6.1029497, lon=105.4221761
Processed Baroda: lat=22.2973142, lon=73.1942567
Processed America: lat=39.7837304, lon=-100.445882
Processed Old Virginia: lat=12.9702462, lon=77.6439297
Processed Pudd'nhead: lat=None, lon=None
Processed Illinois: lat=40.0796606, lon=-89.4337288
Processed Roxana: lat=38.8482602, lon=-90.0768875
Processed Land: lat=60.2340258, lon=9.8743057
Processed Pocahontas: lat=42.7262681, lon=-94.6477383
Processed Africa: lat=11.5024338, lon=17.7578122
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Fiji: lat=-18.1239696, lon=179.0122737
Processed South: lat=18.2612839, lon=-73.8444985
Processed Hartford: lat=41.764582, lon=-72.6908547
Processed Washington: lat=38.8950368, lon=-77.0365427
Processed Illinois: lat=40.0796606, lon=-89.4337288
Processed Philadelphia: lat=39.9527237, lon=-75.1635262
Processed Missouri: lat=38.7604815, lon=-92.5617875
Processed Huck: lat=51.5713334, lon=6.532212
Processed St. Louis: lat=38.6280278, lon=-90.1910154
Processed Europe: lat=51.0, lon=10.0
Processed Indiana: lat=40.3270127, lon=-86.1746933
Processed Ohio: lat=40.2253569, lon=-82.6881395
Processed Pennsylvania: lat=40.9699889, lon=-77.7278831
Processed New York: lat=40.7127281, lon=-74.0060152
Processed England: lat=52.5310214, lon=-1.2649062
Processed Choosday: lat=None, lon=None
Processed tâ€™other: lat=48.2963694, lon=23.669289
Processed London: lat=51.5074456, lon=-0.1277653
Processed America: lat=39.7837304, lon=-100.445882
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Africa: lat=11.5024338, lon=17.7578122
Processed Ireland: lat=52.865196, lon=-7.9794599
Processed Siffra: lat=None, lon=None
Processed Desert: lat=33.3883575, lon=-96.4021045
Processed Maine: lat=45.709097, lon=-68.8590201
Processed Florida: lat=27.7567667, lon=-81.4639835
Processed California: lat=36.7014631, lon=-118.755997
Processed France: lat=46.603354, lon=1.8883335
Processed Denmark: lat=55.670249, lon=10.3333283
Processed Den: lat=39.8606676, lon=-104.6853673
Processed China: lat=35.000074, lon=104.999927
Processed Russia: lat=64.6863136, lon=97.7453061
Processed Rhode Island: lat=41.7962409, lon=-71.5992372
Processed Balsora: lat=5.6439777, lon=-75.13404
Processed Egypt: lat=26.2540493, lon=29.2675469
Processed Arabia: lat=39.7661501, lon=-87.3219602
Processed Hindostan: lat=22.3511148, lon=78.6677428
Processed George Washington: lat=40.7353762, lon=-73.990695
Processed Cairo: lat=30.0443879, lon=31.2357257
Processed Mecca: lat=21.420847, lon=39.826869
Processed Medina: lat=29.2836281, lon=-99.1126826
Processed Central Africa: lat=-25.3579401, lon=-57.5835295
Processed Israel: lat=30.8124247, lon=34.8594762
Processed America: lat=39.7837304, lon=-100.445882
Processed Arkansaw: lat=44.6338413, lon=-92.0313805
Processed Land: lat=60.2340258, lon=9.8743057
Processed Louisiana: lat=30.8703881, lon=-92.007126
Processed St. Louis: lat=38.6280278, lon=-90.1910154
Processed Elexandria: lat=None, lon=None
Processed Iowa: lat=41.9216734, lon=-93.3122705
Processed Jubiter Dunlap: lat=None, lon=None

In [20]:
print(len(latitudes))
print(len(longitudes))
print(len(final_locations))

575
575
575

In [21]:
# Optionally, add latitudes and longitudes back to a DataFrame column for further use
df = pd.DataFrame({'Location': final_locations, 'Latitude': latitudes, 'Longitude': longitudes})

In [22]:
df

           Location   Latitude   Longitude
0           England  52.531021   -1.264906
1          HARTFORD  41.764582  -72.690855
2        Whitsunday -20.693943  147.721780
3           Camelot -33.958333   18.666667
4          Arkansas  35.204888  -92.447911
..              ...        ...         ...
570       Louisiana  30.870388  -92.007126
571       St. Louis  38.628028  -90.191015
572      Elexandria        NaN         NaN
573            Iowa  41.921673  -93.312270
574  Jubiter Dunlap        NaN         NaN

[575 rows x 3 columns]

In [23]:
titles = combined_df["Titles"].to_list()

In [24]:
df["Titles"] = titles

In [25]:
df

           Location   Latitude   Longitude                Titles
0           England  52.531021   -1.264906  A Connecticut Yankee
1          HARTFORD  41.764582  -72.690855  A Connecticut Yankee
2        Whitsunday -20.693943  147.721780  A Connecticut Yankee
3           Camelot -33.958333   18.666667  A Connecticut Yankee
4          Arkansas  35.204888  -92.447911  A Connecticut Yankee
..              ...        ...         ...                   ...
570       Louisiana  30.870388  -92.007126  Tom Sawyer Detective
571       St. Louis  38.628028  -90.191015  Tom Sawyer Detective
572      Elexandria        NaN         NaN  Tom Sawyer Detective
573            Iowa  41.921673  -93.312270  Tom Sawyer Detective
574  Jubiter Dunlap        NaN         NaN  Tom Sawyer Detective

[575 rows x 4 columns]

In [27]:
df.to_csv("twain_coordinates.csv")