In this notebook we are going to put together all the book titles and dates together!

In [3]:
import pandas as pd

In [4]:
book_names = ["A Dark Night's Work", "Cranford", "Mary Barton", "My Lady Ludlow", "North and South", "Ruth",
              "Sylvia's Lovers", "Wives and Daughters"]

In [5]:
dates = [1863, 1853, 1848, 1859, 1855, 1853, 1863, 1866]

In [6]:
len(book_names)

8

In [7]:
len(dates)

8

In [8]:
data = pd.DataFrame({"Titles" : book_names, "Year" : dates})

In [9]:
data

                Titles  Year
0  A Dark Night's Work  1863
1             Cranford  1853
2          Mary Barton  1848
3       My Lady Ludlow  1859
4      North and South  1855
5                 Ruth  1853
6      Sylvia's Lovers  1863
7  Wives and Daughters  1866

In [10]:
data.to_csv("Elizabeht_Gaskell_dates.csv")