# Extracting GPE Entities in One Book

In [26]:
import pandas as pd
import os

In [27]:
pwd

'C:\\Users\\usuario\\ELENA\\it-training uzh\\it-training uzh\\Python Data Analytics Essentials\\Charles Dickens\\entities\\GPE'

In [28]:
data = pd.read_csv(r"Files\a_christmas_carol.entities.csv", delimiter=';')
data

      COREF  start_token  end_token  prop  cat             text
0         0            1          1  PRON  PER                I
1         0           22         22  PRON  PER               my
2        -1           22         23   NOM  PER       my readers
3        -1           28         28  PRON  PER       themselves
4        -1           31         32   NOM  PER       each other
...     ...          ...        ...   ...  ...              ...
4771     23        37008      37008  PROP  PER              God
4772     -1        37010      37010  PRON  PER               Us
4773     86        37049      37050  PROP  PER  Charles Dickens
4774     26        37055      37055  PROP  PER          Scrooge
4775     86        37080      37081  PROP  PER  Charles Dickens

[4776 rows x 6 columns]

Let's start having a look at how the category "Location" looks like

In [29]:
location = data[data["cat"] == "LOC"]

In [30]:
location

,COREF,start_token,end_token,prop,cat,text
33,-1,231,232,NOM,LOC,the Country
294,-1,2172,2173,NOM,LOC,the world
688,-1,5155,5155,NOM,LOC,sea
854,-1,6613,6614,NOM,LOC,the earth
863,-1,6684,6685,NOM,LOC,the world
865,-1,6704,6704,NOM,LOC,earth
942,-1,7277,7278,NOM,LOC,this earth
1082,7,8439,8441,PROP,LOC,the Invisible World
1105,-1,8794,8795,NOM,LOC,the world
1232,-1,10199,10199,PRON,LOC,it
1233,8,10233,10234,PROP,LOC,Good Heaven
1267,-1,10465,10466,NOM,LOC,winding river
1276,-1,10513,10515,NOM,LOC,the broad fields
1400,-1,11381,11382,NOM,LOC,the island
1411,-1,11427,11429,NOM,LOC,the little creek
1490,-1,11954,11956,NOM,LOC,all the world
1805,-1,14485,14486,NOM,LOC,the world
1808,-1,14526,14527,NOM,LOC,the world
1938,-1,15439,15441,NOM,LOC,all the world
2015,-1,16085,16086,NOM,LOC,the world
2019,-1,16108,16109,NOM,LOC,this place
2208,-1,18293,18294,NOM,LOC,the woods
2277,-1,19054,19058,NOM,LOC,the many worlds about us
2300,-1,19209,19210,NOM,LOC,this earth
2752,-1,22672,22676,NOM,LOC,a bleak and desert moor
2753,-1,22690,22690,PRON,LOC,it
2754,-1,22692,22697,NOM,LOC,the burial - place of giants
2757,-1,22804,22808,NOM,LOC,the bowels of the earth
2758,-1,22807,22808,NOM,LOC,the earth
2789,-1,23014,23015,NOM,LOC,the moor
2790,-1,23022,23022,NOM,LOC,sea
2791,-1,23025,23025,NOM,LOC,sea
2794,-1,23037,23041,NOM,LOC,the last of the land
2795,-1,23040,23041,NOM,LOC,the land
2796,-1,23043,23047,NOM,LOC,a frightful range of rocks
2799,-1,23085,23086,NOM,LOC,the earth
2800,-1,23090,23095,NOM,LOC,a dismal reef of sunken rocks
2801,-1,23102,23110,NOM,LOC,"shore , on which the waters chafed and dashed"
2804,-1,23152,23153,NOM,LOC,the water
2807,-1,23198,23200,NOM,LOC,the awful sea
2821,-1,23302,23303,NOM,LOC,any shore
2839,-1,23477,23479,NOM,LOC,an unknown abyss
2862,-1,23664,23665,NOM,LOC,the world
3213,-1,26046,26047,NOM,LOC,foreign lands
3392,-1,27468,27471,NOM,LOC,the heart of it
3767,15,30397,30398,PROP,LOC,Merciful Heaven
3789,-1,30760,30761,NOM,LOC,the world
3959,-1,31890,31891,NOM,LOC,the world
4223,-1,33342,33344,NOM,LOC,a worthy place
4282,16,33771,33772,PROP,LOC,the Past
4345,-1,34241,34242,NOM,LOC,the world
4748,-1,36825,36828,NOM,LOC,the good old world
4755,-1,36863,36864,NOM,LOC,this globe

That looks a little bit abstract. Let's try GPE instead

In [31]:
gpe = data[data["cat"] == "GPE"]
gpe

,COREF,start_token,end_token,prop,cat,text
336,1,2424,2424,PROP,GPE,Bedlam
426,-1,2990,2990,NOM,GPE,there
537,3,3903,3904,PROP,GPE,Camden Town
574,-1,4165,4166,NOM,GPE,that place
578,-1,4185,4187,NOM,GPE,the City of
579,4,4188,4188,PROP,GPE,London
683,5,5132,5132,PROP,GPE,Sheba
773,4,5960,5960,PROP,GPE,London
900,-1,6939,6940,NOM,GPE,other regions
1108,-1,8833,8834,NOM,GPE,United States
1201,-1,9912,9912,NOM,GPE,there
1231,-1,10189,10190,NOM,GPE,The city
1239,-1,10256,10257,NOM,GPE,this place
1263,-1,10447,10451,NOM,GPE,a little market - town
1372,9,11229,11229,PROP,GPE,Damascus
1389,-1,11324,11325,NOM,GPE,the city
1412,10,11431,11431,PROP,GPE,Halloa
1555,-1,12409,12410,NOM,GPE,a city
1558,-1,12436,12438,NOM,GPE,a real city
1609,26,12735,12735,PROP,GPE,Ebenezer
1628,26,12882,12882,PROP,GPE,Ebenezer
2052,4,16411,16411,PROP,GPE,London
2186,-1,17999,18000,NOM,GPE,Great Britain
2188,-1,18030,18031,NOM,GPE,the town
2318,-1,19310,19311,NOM,GPE,the town
3157,4,25596,25596,PROP,GPE,London
3295,-1,26719,26720,NOM,GPE,the city
3312,4,26874,26874,PROP,GPE,London
3387,-1,27440,27441,NOM,GPE,the city
3388,-1,27444,27445,NOM,GPE,the city
3535,-1,28471,28494,NOM,GPE,"an obscure part of the town , where Scrooge ha..."
3536,-1,28475,28476,NOM,GPE,the town
3829,-1,31019,31020,NOM,GPE,the town
4021,-1,32238,32239,NOM,GPE,a place
4225,-1,33379,33381,NOM,GPE,A worthy place
4459,3,35221,35222,PROP,GPE,Camden Town
4744,-1,36806,36809,NOM,GPE,the good old city
4745,-1,36813,36817,NOM,GPE,any other good old city
4746,-1,36819,36819,NOM,GPE,town
4747,-1,36822,36822,NOM,GPE,borough

That looks much better! Let's stick with that. Now let's remove duplicates!

In [32]:
df = gpe.drop_duplicates(subset=['text'])

In [33]:
len(df)

27

In [34]:
df

,COREF,start_token,end_token,prop,cat,text
336,1,2424,2424,PROP,GPE,Bedlam
426,-1,2990,2990,NOM,GPE,there
537,3,3903,3904,PROP,GPE,Camden Town
574,-1,4165,4166,NOM,GPE,that place
578,-1,4185,4187,NOM,GPE,the City of
579,4,4188,4188,PROP,GPE,London
683,5,5132,5132,PROP,GPE,Sheba
900,-1,6939,6940,NOM,GPE,other regions
1108,-1,8833,8834,NOM,GPE,United States
1231,-1,10189,10190,NOM,GPE,The city
1239,-1,10256,10257,NOM,GPE,this place
1263,-1,10447,10451,NOM,GPE,a little market - town
1372,9,11229,11229,PROP,GPE,Damascus
1389,-1,11324,11325,NOM,GPE,the city
1412,10,11431,11431,PROP,GPE,Halloa
1555,-1,12409,12410,NOM,GPE,a city
1558,-1,12436,12438,NOM,GPE,a real city
1609,26,12735,12735,PROP,GPE,Ebenezer
2186,-1,17999,18000,NOM,GPE,Great Britain
2188,-1,18030,18031,NOM,GPE,the town
3535,-1,28471,28494,NOM,GPE,"an obscure part of the town , where Scrooge ha..."
4021,-1,32238,32239,NOM,GPE,a place
4225,-1,33379,33381,NOM,GPE,A worthy place
4744,-1,36806,36809,NOM,GPE,the good old city
4745,-1,36813,36817,NOM,GPE,any other good old city
4746,-1,36819,36819,NOM,GPE,town
4747,-1,36822,36822,NOM,GPE,borough

We can see that cities (London, Damascus), or specific locations (Camdem Town, Bedlam (a 19th century asylum) appear under the category "PROP". It is true that "NOM" also includes geographic locations (such as United States or Great Britain), but there is also a lot of noise in there (The City, the town...). So let's just focus on extracting **PROP** (that means, proper nouns).

In [35]:
gpe_name = df[df["prop"] == "PROP"]

In [36]:
gpe_name

      COREF  start_token  end_token  prop  cat         text
336       1         2424       2424  PROP  GPE       Bedlam
537       3         3903       3904  PROP  GPE  Camden Town
579       4         4188       4188  PROP  GPE       London
683       5         5132       5132  PROP  GPE        Sheba
1372      9        11229      11229  PROP  GPE     Damascus
1412     10        11431      11431  PROP  GPE       Halloa
1609     26        12735      12735  PROP  GPE     Ebenezer

And now, to make sure that we are not speaking hundreds of times about the same location (i.e. London, that city, the town...), let's filter out things by "COREF". Now we will have just the number of locations appearing in the book!

In [37]:
unique_gpe_name = gpe_name.drop_duplicates(subset=['COREF'])

In [38]:
unique_gpe_name

      COREF  start_token  end_token  prop  cat         text
336       1         2424       2424  PROP  GPE       Bedlam
537       3         3903       3904  PROP  GPE  Camden Town
579       4         4188       4188  PROP  GPE       London
683       5         5132       5132  PROP  GPE        Sheba
1372      9        11229      11229  PROP  GPE     Damascus
1412     10        11431      11431  PROP  GPE       Halloa
1609     26        12735      12735  PROP  GPE     Ebenezer

In [39]:
mkdir output_files

Ya existe el subdirectorio o el archivo output_files.

In [40]:
unique_gpe_name.to_csv(r"output_files\a_christmas_carol_gpe.csv")

In [41]:
number_of_unique_gpe = len(unique_gpe_name)

In [42]:
number_of_unique_gpe

7

So, we can see that if we compare number of characters with number of locations, the number of characters is much higher!