In [35]:
#pip install geopy

In [3]:
import pandas as pd
import os

import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import time

In [4]:
a_christmas_carol = pd.read_csv("output_files\\a_christmas_carol_gpe.csv")
a_christmas_carol

   COREF  start_token  end_token  prop  cat         text
0      1         2424       2424  PROP  GPE       Bedlam
1      3         3903       3904  PROP  GPE  Camden Town
2      4         4188       4188  PROP  GPE       London
3      5         5132       5132  PROP  GPE        Sheba
4      9        11229      11229  PROP  GPE     Damascus
5     10        11431      11431  PROP  GPE       Halloa
6     26        12735      12735  PROP  GPE     Ebenezer

In [5]:
a_christmas_carol_b = a_christmas_carol.drop(["COREF", "start_token", "end_token", "prop", "cat"], axis = 1)
a_christmas_carol_b["Titles"] = ["A Christmas Carol"] * len(a_christmas_carol)

In [6]:
a_christmas_carol_b

          text             Titles
0       Bedlam  A Christmas Carol
1  Camden Town  A Christmas Carol
2       London  A Christmas Carol
3        Sheba  A Christmas Carol
4     Damascus  A Christmas Carol
5       Halloa  A Christmas Carol
6     Ebenezer  A Christmas Carol

Let's repeat that but automazing it!

In [9]:
# List of input CSV file paths

input_files = [
    r"output_files\a_christmas_carol_gpe.csv",
    r"output_files\a_tale_of_two_cities_gpe.csv",
    r"output_files\barnaby_rudge_gpe.csv",
    r"output_files\bleak_house_gpe.csv", 
    r"output_files\david_copperfield_gpe.csv",
    r"output_files\Dombey_and_son_gpe.csv",
    r"output_files\great_expectations_gpe.csv",
    r"output_files\hard_times_gpe.csv",
    r"output_files\little_dorrit_gpe.csv",
    r"output_files\martin_chuzzlewit_gpe.csv", 
    r"output_files\nicholas_nickleby_gpe.csv",
    r"output_files\old_curiosity_gpe.csv",
    r"output_files\oliver_twist_gpe.csv",
    r"output_files\our_mutual_friend_gpe.csv",
    r"output_files\the_battle_of_life_gpe.csv",
    r"output_files\the_chimes_gpe.csv",
    r"output_files\the_cricket_on_the_heart_gpe.csv",
    r"output_files\the_haunted_man_gpe.csv",
    r"output_files\the_pickwick_papers_gpe.csv"
]

In [10]:
pwd

'C:\\Users\\usuario\\ELENA\\it-training uzh\\it-training uzh\\Python Data Analytics Essentials\\Charles Dickens\\entities\\GPE'

In [11]:
output_dir = "filtered_gpe"
os.makedirs(output_dir, exist_ok=True)

for file_path in input_files:
    df = pd.read_csv(file_path)
    df_b = df.drop(["COREF", "start_token", "end_token", "prop", "cat"], axis=1)
    title = os.path.basename(file_path).replace("_gpe.csv", "")
    df_b["Titles"] = [title] * len(df_b)
    output_path = os.path.join(output_dir, os.path.basename(file_path))
    df_b.to_csv(output_path, index=False)

So now we have all our GPEs saved in the directory "filtered gpe". Now let's combine all of them into a unique csv dataframe

In [12]:
all_dfs = []

for file_path in input_files:
    df = pd.read_csv(file_path)
    df_b = df.drop(["COREF", "start_token", "end_token", "prop", "cat"], axis=1)
    title = os.path.basename(file_path).replace("_gpe.csv", "")
    df_b["Titles"] = [title] * len(df_b)
    all_dfs.append(df_b)

# Concatenate all dataframes into one
combined_df = pd.concat(all_dfs, ignore_index=True)

In [13]:
combined_df

             text               Titles
0          Bedlam    a_christmas_carol
1     Camden Town    a_christmas_carol
2          London    a_christmas_carol
3           Sheba    a_christmas_carol
4        Damascus    a_christmas_carol
...           ...                  ...
1222      America  the_pickwick_papers
1223       Wulter  the_pickwick_papers
1224      Dulwich  the_pickwick_papers
1225     Richmond  the_pickwick_papers
1226       Bengal  the_pickwick_papers

[1227 rows x 2 columns]

Now let's substitute those titles for ones that look better

In [14]:
# Example mapping dictionary
title_map = {
    "a_christmas_carol": "A Christmas Carol",
    "a_tale_of_two_cities" : "A Tale of Two Cities",
    "barnaby_rudge" : "Barnaby Rudge",
    "bleak_house" : "Bleak House",
    "david_copperfield" : "David Copperfield",
    "Dombey_and_son" : "Dombey and Son",
    "great_expectations" : "Great Expectations",
    "hard_times" : "Hard Times",
    "little_dorrit" : "Little Dorrit",
    "martin_chuzzlewit" : "Martin Chuzzlewit", 
    "nicholas_nickleby" : "Nicholas Nickleby",
    "old_curiosity" : "Old Curiosity",
    "oliver_twist" : "Oliver Twist",
    "our_mutual_friend" : "Our Mutual Friend",
    "the_battle_of_life" : "The Battle of Life",
    "the_chimes" : "The Chimes",
    "the_cricket_on_the_heart" : "The Cricket",
    "the_haunted_man" :  "The Haunted Man",   
    "the_pickwick_papers": "The Pickwick Papers"
}

# Replace the titles using .replace with the mapping
combined_df["Titles"] = combined_df["Titles"].replace(title_map)

In [15]:
combined_df

             text               Titles
0          Bedlam    A Christmas Carol
1     Camden Town    A Christmas Carol
2          London    A Christmas Carol
3           Sheba    A Christmas Carol
4        Damascus    A Christmas Carol
...           ...                  ...
1222      America  The Pickwick Papers
1223       Wulter  The Pickwick Papers
1224      Dulwich  The Pickwick Papers
1225     Richmond  The Pickwick Papers
1226       Bengal  The Pickwick Papers

[1227 rows x 2 columns]

Ok, now let's go back to one example: "A Christmas Carol"

In [16]:
a_christmas_carol_b

          text             Titles
0       Bedlam  A Christmas Carol
1  Camden Town  A Christmas Carol
2       London  A Christmas Carol
3        Sheba  A Christmas Carol
4     Damascus  A Christmas Carol
5       Halloa  A Christmas Carol
6     Ebenezer  A Christmas Carol

We are going to use the Python Library "Geopy" (https://geopy.readthedocs.io/en/stable/) to add the coordinates (LAT/LON) of the text column.

In [17]:
geolocator = Nominatim(user_agent="my_geo_app")

In [18]:
locations = a_christmas_carol_b["text"].to_list()

In [19]:
# Create empty lists to store results
latitudes = []
longitudes = []

for loc in locations:
    try:
        # Geocode the location name
        location = geolocator.geocode(loc)
        if location:
            latitudes.append(location.latitude)
            longitudes.append(location.longitude)
            print(f"{loc}: ({location.latitude}, {location.longitude})")
        else:
            latitudes.append(None)
            longitudes.append(None)
            print(f"{loc}: Location not found")
    except Exception as e:
        latitudes.append(None)
        longitudes.append(None)
        print(f"{loc}: Error - {e}")
    
    # Pause to respect usage limits
    time.sleep(1)

# Optionally, add latitudes and longitudes back to a DataFrame column for further use
df = pd.DataFrame({'Location': locations, 'Latitude': latitudes, 'Longitude': longitudes})

Bedlam: (54.0489933, -1.5925865)
Camden Town: (51.5392533, -0.142757)
London: (51.5074456, -0.1277653)
Sheba: (31.2457442, 34.7925181)
Damascus: (39.2884381, -77.2038717)
Halloa: Location not found
Ebenezer: (37.340323, -93.3071343)

In [20]:
df

      Location   Latitude  Longitude
0       Bedlam  54.048993  -1.592586
1  Camden Town  51.539253  -0.142757
2       London  51.507446  -0.127765
3        Sheba  31.245744  34.792518
4     Damascus  39.288438 -77.203872
5       Halloa        NaN        NaN
6     Ebenezer  37.340323 -93.307134

We can see that geopy missinterprets some locations. For example, "Bedlam" refers to a 19th century asylum (https://en.wikipedia.org/wiki/Bethlem_Royal_Hospital), but Geopy has interpret it as a present-time location in the UK (https://www.google.com/search?q=54.048993%09-1.592586&sca_esv=6eed89d831f7228a&source=hp&ei=W64YaYuKAZO0hbIPheXroAo&iflsig=AOw8s4IAAAAAaRi8aylXJmWQ-vbPX--QPS913AFK2RAd&ved=0ahUKEwjLo9HTzfSQAxUTWkEAHYXyGqQQ4dUDCBA&uact=5&oq=54.048993%09-1.592586&gs_lp=Egdnd3Mtd2l6IhM1NC4wNDg5OTMJLTEuNTkyNTg2SNcCUABYAHAAeACQAQCYAZ4BoAGeAaoBAzAuMbgBA8gBAPgBAvgBAZgCAKACAJgDAJIHAKAHLbIHALgHAMIHAMgHAA&sclient=gws-wiz). But it is a minor issue! We can also see that when Geopy does not recognize a location (Halloa) it outputs NaN. 

There is also an error (produced by BookNLP) that taggs "Ebenezer" as a location, when in reality it is "Ebenezer Scrooge" (the main character of the book). So possibly there will be some outliers in our data analysis. To refine it, we should do some close-reading of the outputs.

That being said, results are quite solid!

In [21]:
location = geolocator.geocode("Great Britain")
print((location.latitude, location.longitude))  # Approximate coordinates for London

(54.3151594, -1.9181532)

We can also see that geopy outputs the coordinates of the capital of "Great Britain" (London), if the name of a country is provided. That is great, as we will have many examples of that in our full data analysis. 

Let's now produce a csv dataframe with all the lattitudes and longitudes of our datafarme.

In [22]:
final_locations = combined_df["text"].to_list()

In [23]:
# Create empty lists to store results
latitudes = []
longitudes = []

for loc in final_locations:
    try:
        location = geolocator.geocode(loc)
        if location:
            latitudes.append(location.latitude)
            longitudes.append(location.longitude)
        else:
            latitudes.append(None)
            longitudes.append(None)
        print(f"Processed {loc}: lat={latitudes[-1]}, lon={longitudes[-1]}")
    except Exception as e:
        latitudes.append(None)
        longitudes.append(None)
        print(f"Error on {loc}: {e}")
    time.sleep(1)

Processed Bedlam: lat=54.0489933, lon=-1.5925865
Processed Camden Town: lat=51.5392533, lon=-0.142757
Processed London: lat=51.5074456, lon=-0.1277653
Processed Sheba: lat=31.2457442, lon=34.7925181
Processed Damascus: lat=39.2884381, lon=-77.2038717
Processed Halloa: lat=None, lon=None
Processed Ebenezer: lat=37.340323, lon=-93.3071343
Processed England: lat=52.5310214, lon=-1.2649062
Processed France: lat=46.603354, lon=1.8883335
Processed London: lat=51.5074456, lon=-0.1277653
Processed Westminster: lat=51.5004439, lon=-0.1265398
Processed America: lat=39.7837304, lon=-100.445882
Processed Norway: lat=61.1529386, lon=8.7876653
Processed Paris: lat=48.8534951, lon=2.3483915
Processed Newgate: lat=53.189006, lon=-2.8881902
Processed Blackheath: lat=51.470342, lon=0.0058096
Processed Dover: lat=51.1251275, lon=1.3134228
Processed Lorry: lat=48.9892581, lon=6.0849045
Processed Calais: lat=50.9524769, lon=1.8538446
Processed Concord: lat=43.207178, lon=-71.537476
Processed Tellson: lat=-23.3386951, lon=149.3064798
Processed Beauvais: lat=49.4300997, lon=2.0823355
Processed French: lat=46.603354, lon=1.8883335
Processed Abyssinia: lat=10.2116702, lon=38.6521203
Processed Ashantee: lat=42.8970072, lon=-77.7647254
Processed Whitefriars: lat=52.4050669, lon=-1.5015793
Processed Tyburn: lat=51.518391, lon=-0.1529642
Processed Bedlam: lat=54.0489933, lon=-1.5925865
Processed Canada: lat=61.0666922, lon=-107.991707
Processed North America: lat=51.0000002, lon=-109.0
Processed Britain: lat=54.3151594, lon=-1.9181532
Processed Greece: lat=38.9953683, lon=21.9877132
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Boulogne: lat=46.7947224, lon=-1.3210389
Processed Ludgate: lat=45.894046, lon=-80.5351369
Processed Sydney: lat=-33.8698439, lon=151.2082848
Processed Shrewsbury: lat=52.707755, lon=-2.7540658
Processed Clerkenwell: lat=51.5237268, lon=-0.1055555
Processed Soho: lat=51.5140654, lon=-0.1350494
Processed Notre Dame: lat=41.7045677, lon=-86.2382203
Processed Monseigneur: lat=43.7864667, lon=-79.4235445
Processed Babel: lat=-2.7052886, lon=106.3585607
Processed Cambridge: lat=52.2055314, lon=0.1186637
Processed Eden: lat=36.4884715, lon=-79.7667026
Processed Hilary: lat=6.4244321, lon=-9.7479131
Processed Ranelagh: lat=48.8555764, lon=2.2702166
Processed Stryver: lat=39.1028637, lon=-77.2342209
Processed Tellsonâ€™s: lat=None, lon=None
Processed Devonshire: lat=50.7241405, lon=-3.6607788
Processed Versailles: lat=48.8035403, lon=2.1266886
Processed Dâ€™Aulnais: lat=47.7094714, lon=-0.9207983
Processed Warwickshire: lat=52.3213064, lon=-1.5536906
Processed Wales: lat=52.2928116, lon=-3.73893
Processed Saint Antoine: lat=44.0361186, lon=0.8397552
Processed Hell: lat=42.4347571, lon=-83.9849477
Processed Foulon: lat=47.1474873, lon=0.5168804
Processed Examination: lat=5.1207306, lon=-1.2937669
Processed Tilson: lat=36.0179765, lon=-82.5347629
Processed Secret: lat=-16.8602778, lon=145.5702778
Processed La Force: lat=44.8704188, lon=0.3742764
Processed Manette: lat=43.0814514, lon=5.8561615
Processed Liberty: lat=30.0856736, lon=-94.7856262
Processed La: lat=20.0171109, lon=103.378253
Processed Darnay: lat=41.8910434, lon=34.4909196
Processed St. Antoine: lat=44.0361186, lon=0.8397552
Processed Barsad: lat=None, lon=None
Processed England: lat=52.5310214, lon=-1.2649062
Processed London: lat=51.5074456, lon=-0.1277653
Processed Yorkshire: lat=53.9825271, lon=-1.38525
Processed Falkland Islands: lat=-51.9492937, lon=-59.5383657
Processed Ludgate: lat=45.894046, lon=-80.5351369
Processed Tyburn: lat=51.518391, lon=-0.1529642
Processed Cornhill: lat=57.6116818, lon=-2.696266
Processed Chigwell: lat=51.6176444, lon=0.0757204
Processed London,--all: lat=40.7077377, lon=-84.1671046
Processed argeyment: lat=None, lon=None
Processed Clerkenwell: lat=51.5237268, lon=-0.1055555
Processed Whitechapel: lat=51.5174861, lon=-0.0659685
Processed Southwark: lat=51.5061349, lon=-0.1011379
Processed Aldgate: lat=51.5142477, lon=-0.0757186
Processed Barbican: lat=51.5201797, lon=-0.0986342
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Kentish Town: lat=51.5500554, lon=-0.1425712
Processed Hampstead: lat=51.55653, lon=-0.1783011
Processed Kensington: lat=51.4989948, lon=-0.1991229
Processed Chelsea: lat=51.4875167, lon=-0.1687007
Processed Smithfield: lat=35.5111996, lon=-78.346102
Processed Egypt: lat=26.2540493, lon=29.2675469
Processed Edward: lat=0.3617947, lon=29.892856
Processed Canterbury: lat=51.2800275, lon=1.0802533
Processed Eden: lat=36.4884715, lon=-79.7667026
Processed Europe: lat=51.0, lon=10.0
Processed Islington: lat=51.5384287, lon=-0.0999051
Processed Highgate: lat=51.5706446, lon=-0.1492397
Processed Gravesend: lat=51.4424747, lon=0.3694468
Processed Chatham: lat=31.9668887, lon=-81.0626008
Processed Suffolk: lat=52.2410014, lon=1.0465716
Processed Scottish: lat=55.583333, lon=-2.833333
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Newgate: lat=53.189006, lon=-2.8881902
Processed Country: lat=-24.9380555, lon=-53.4492587
Processed Cheapside: lat=51.5139127, lon=-0.092888
Processed Westminster: lat=51.5004439, lon=-0.1265398
Processed Holborn: lat=51.5195982, lon=-0.1137266
Processed Vauxhall: lat=51.4874834, lon=-0.1229297
Processed Saint Omer â€™s: lat=50.7427484, lon=2.2579455
Processed Paris: lat=48.8534951, lon=2.3483915
Processed Surrey: lat=51.2715316, lon=-0.3414524
Processed St George â€™s Fields: lat=-34.7965215, lon=138.5999407
Processed Parliament: lat=55.6759281, lon=12.5809377
Processed Blackfriars: lat=51.5115854, lon=-0.1037671
Processed Moorfields: lat=53.4085494, lon=-2.9892356
Processed Wapping: lat=51.5071316, lon=-0.0620152
Processed Leicester Fields: lat=-46.2255238, lon=169.4099352
Processed Damme: lat=51.2499641, lon=3.3217195
Processed Houndsditch: lat=51.516015, lon=-0.0798215
Processed Piccadilly: lat=51.5064454, lon=-0.1434673
Processed Woolwich: lat=51.4826696, lon=0.0623335
Processed Bedlam: lat=54.0489933, lon=-1.5925865
Processed Finchley: lat=51.5973246, lon=-0.1805587
Processed Hallo: lat=38.3625222, lon=35.0454211
Processed Muster Gashford: lat=None, lon=None
Processed durance: lat=44.1628792, lon=0.1611992
Processed Britain: lat=54.3151594, lon=-1.9181532
Processed China: lat=35.000074, lon=104.999927
Processed America: lat=39.7837304, lon=-100.445882
Processed Salwanners: lat=None, lon=None
Processed purse: lat=37.2829028, lon=-116.5015116
Processed Newgate--: lat=53.189006, lon=-2.8881902
Processed Wales: lat=52.2928116, lon=-3.73893
Processed Great Britain: lat=54.3151594, lon=-1.9181532
Processed Bristol: lat=51.4538022, lon=-2.5972985
Processed France: lat=46.603354, lon=1.8883335
Processed Holland: lat=52.2434979, lon=5.6343227
Processed Amsterdam: lat=52.3730796, lon=4.8924534
Processed Harwich: lat=51.9445801, lon=1.2898522
Processed Birmingham: lat=52.4796992, lon=-1.9026911
Processed Millbank: lat=51.4894929, lon=-0.1279708
Processed Verona: lat=45.4424977, lon=10.9857377
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Rheims: lat=42.4009049, lon=-77.2538665
Processed France: lat=46.603354, lon=1.8883335
Processed Columbus: lat=39.9622601, lon=-83.0007065
Processed Chancery: lat=53.7249045, lon=-7.4558109
Processed London: lat=51.5074456, lon=-0.1277653
Processed Jarndyce: lat=51.7524191, lon=0.4557491
Processed Shropshire: lat=52.6523394, lon=-2.6435641
Processed Paris: lat=48.8534951, lon=2.3483915
Processed Lincolnshire: lat=53.1823034, lon=-0.2031209
Processed Dedlock: lat=None, lon=None
Processed Windsor: lat=42.2858536, lon=-82.9780695
Processed Greenleaf: lat=39.728336, lon=-96.976134
Processed Reading: lat=51.4514953, lon=-0.9836342
Processed Piccadilly: lat=51.5064454, lon=-0.1434673
Processed Kenge: lat=-4.7175981, lon=17.2717234
Processed Hertfordshire: lat=51.8400523, lon=-0.0978552
Processed Africa: lat=11.5024338, lon=17.7578122
Processed Winchester: lat=51.0612766, lon=-1.3131692
Processed Holborn: lat=51.5195982, lon=-0.1137266
Processed Borrioboola - Gha: lat=None, lon=None
Processed Tunbridge Wells: lat=51.1371483, lon=0.2673446
Processed KROOK: lat=60.1098489, lon=23.4722536
Processed Nemo: lat=52.3738532, lon=4.9121113
Processed Barnet: lat=51.65309, lon=-0.2002261

Processed St. Albans: lat=51.753051, lon=-0.3379675
Processed India: lat=22.3511148, lon=78.6677428
Processed China: lat=35.000074, lon=104.999927
Processed Chesney Wold: lat=52.0231967, lon=-0.756839
Processed England: lat=52.5310214, lon=-1.2649062
Processed Britain: lat=54.3151594, lon=-1.9181532
Processed America: lat=39.7837304, lon=-100.445882
Processed Europe: lat=51.0, lon=10.0
Processed Carboy: lat=43.9402146, lon=0.8416037
Processed Pentonville: lat=51.5321048, lon=-0.1148938
Processed Tooting: lat=51.4278214, lon=-0.1679667
Processed Christendom: lat=52.2596702, lon=-7.0985056
Processed Avignon: lat=43.9492493, lon=4.8059012
Processed Marseilles: lat=41.3308666, lon=-88.7081293
Processed Chesney: lat=6.2558676, lon=-57.3876666
Processed Greece: lat=38.9953683, lon=21.9877132
Processed Chelsea: lat=51.4875167, lon=-0.1687007
Processed ESSE: lat=51.4582235, lon=7.0158171
Processed Plymouth Harbour: lat=50.3683292, lon=-4.1330711
Processed Brighton: lat=50.8214626, lon=-0.1400561
Processed Kensington: lat=51.4989948, lon=-0.1991229
Processed Waste: lat=52.6281499, lon=-6.4256356
Processed Precedent: lat=39.608071, lon=-86.0626528
Processed Tom - all - Alone â€™s: lat=None, lon=None
Processed Devon: lat=50.7241405, lon=-3.6607788
Processed Wales: lat=52.2928116, lon=-3.73893
Processed Britannia: lat=55.9821462, lon=-3.1773092
Processed Switzerland: lat=46.7985624, lon=8.2319736
Processed Constantinople: lat=41.006381, lon=28.9758715
Processed Venice: lat=45.4371908, lon=12.3345898
Processed Germany: lat=51.1638175, lon=10.4478313
Processed Margate: lat=51.3878174, lon=1.3819699
Processed Ramsgate: lat=51.3334726, lon=1.4196476
Processed Gravesend: lat=51.4424747, lon=0.3694468
Processed Court: lat=47.2398992, lon=7.337079
Processed Tom: lat=55.0079712, lon=86.8170539
Processed ginâ€™ral: lat=None, lon=None
Processed Deptford: lat=51.4758453, lon=-0.0215164
Processed Halloa: lat=None, lon=None
Processed Albion: lat=54.3151594, lon=-1.9181532
Processed Mount Pleasant: lat=33.1570582, lon=-94.9694007
Processed Saul: lat=37.2725912, lon=-83.4954647
Processed Tartary: lat=44.8035849, lon=4.6150972
Processed Saint Albans: lat=51.753051, lon=-0.3379675
Processed Ireland: lat=52.865196, lon=-7.9794599
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed Terewth: lat=None, lon=None
Processed Nero: lat=37.7484295, lon=-82.7434921
Processed Newgate: lat=53.189006, lon=-2.8881902
Processed Clerkenwell: lat=51.5237268, lon=-0.1055555
Processed Smiffeld: lat=None, lon=None
Processed Cornwall: lat=50.4433489, lon=-4.6246566
Processed Devonshire: lat=50.7241405, lon=-3.6607788
Processed Lancashire: lat=53.8611712, lon=-2.5650945
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Whitefriars: lat=52.4050669, lon=-1.5015793
Processed Kent: lat=51.2070749, lon=0.7210362
Processed Surrey: lat=51.2715316, lon=-0.3414524
Processed New Zealand: lat=-41.5000831, lon=172.8344077
Processed Australey: lat=None, lon=None
Processed North America: lat=51.0000002, lon=-109.0
Processed Woolwich: lat=51.4826696, lon=0.0623335
Processed Quebec: lat=52.4760892, lon=-71.8258668
Processed Foodle: lat=3.1437733, lon=101.69581
Processed Bath: lat=51.3813864, lon=-2.3596963
Processed Welsh: lat=52.2928116, lon=-3.73893
Processed Stolbuns: lat=None, lon=None
Processed Jericho: lat=40.7920441, lon=-73.5398476
Processed Manchester: lat=53.4794892, lon=-2.2451148
Processed Lignum: lat=38.415961, lon=-77.8266604
Processed Gibraltar: lat=36.1285933, lon=-5.3474761
Processed Ve - ry: lat=49.4711669, lon=1.3431323
Processed Gridley: lat=40.7433682, lon=-88.8814578
Processed Plymouth: lat=50.3714122, lon=-4.1424451
Processed Taunton: lat=51.0147895, lon=-3.1029086
Processed Borrioboola: lat=None, lon=None
Processed Penton Place: lat=51.4877007, lon=-0.0988407
Processed Middlesex: lat=51.5460558, lon=-0.2537791
Processed Kennington: lat=51.4882861, lon=-0.1058829
Processed Suffolk: lat=52.2410014, lon=1.0465716
Processed Great Britain: lat=54.3151594, lon=-1.9181532
Processed Volumnia: lat=41.872286, lon=12.5327063
Processed Moorish: lat=53.4271208, lon=-2.2424324
Processed Deal: lat=51.2239544, lon=1.4027344
Processed Malta: lat=35.8885993, lon=14.4476911
Processed Vholes: lat=None, lon=None
Processed Ascension: lat=-7.942, lon=-14.3578947
Processed Hong Kong: lat=22.350627, lon=114.1849161
Processed Almac: lat=-26.6892073, lon=153.113291
Processed Highgate: lat=51.5706446, lon=-0.1492397
Processed Lunnun: lat=52.0610706, lon=-1.3682234
Processed Waterloo: lat=42.498275, lon=-92.3328743
Processed Islington: lat=51.5384287, lon=-0.0999051
Processed Yorkshire: lat=53.9825271, lon=-1.38525
Processed Lambeth: lat=51.4952111, lon=-0.1163354
Processed Westminster: lat=51.5004439, lon=-0.1265398
Processed London: lat=51.5074456, lon=-0.1277653
Processed Blunderstone: lat=None, lon=None
Processed Suffolk: lat=52.2410014, lon=1.0465716
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed India: lat=22.3511148, lon=78.6677428
Processed Hamlet: lat=34.8863657, lon=-79.6972143
Processed Lowestoft: lat=52.4766308, lon=1.7537638
Processed Peggotty: lat=51.8000941, lon=-1.8845057
Processed Sheffield: lat=53.3806626, lon=-1.4702278
Processed Yarmouth: lat=52.6071742, lon=1.7314845
Processed Sunderland: lat=54.9058512, lon=-1.3828727
Processed DISGRACE: lat=45.9085245, lon=-115.1831746
Processed Murdstone: lat=53.7759698, lon=-1.7566553
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Wakefield: lat=53.6829541, lon=-1.4967286
Processed Bloonderstone: lat=None, lon=None
Processed Sooffolk: lat=None, lon=None
Processed Blackheath: lat=51.470342, lon=0.0058096
Processed Coventry: lat=52.4081812, lon=-1.510477
Processed Madrid: lat=40.416782, lon=-3.703507
Processed Oncommon: lat=None, lon=None
Processed Gravesen: lat=55.8417216, lon=12.4334481
Processed Gravesend: lat=51.4424747, lon=0.3694468
Processed Norfolk: lat=52.666667, lon=1.0
Processed China: lat=35.000074, lon=104.999927
Processed Blackfriars: lat=51.5115854, lon=-0.1037671
Processed Babylon: lat=49.3975285, lon=12.8617005
Processed London Bridge: lat=51.508049, lon=-0.0876715
Processed Germany: lat=51.1638175, lon=10.4478313
Processed Southwark: lat=51.5061349, lon=-0.1011379
Processed Plymouth: lat=50.3714122, lon=-4.1424451
Processed Dover: lat=51.1251275, lon=1.3134228
Processed Hythe: lat=51.0691871, lon=1.0840382
Processed Sandgate: lat=51.0743788, lon=1.1487129
Processed Folkestone: lat=51.0791335, lon=1.1794073
Processed Greenwich: lat=51.4820845, lon=-0.0045417
Processed Rochester: lat=43.157285, lon=-77.615214
Processed Canterbury: lat=51.2800275, lon=1.0802533
Processed Maidstone: lat=51.2748258, lon=0.5231646
Processed Calais: lat=50.9524769, lon=1.8538446
Processed Chatham: lat=31.9668887, lon=-81.0626008
Processed Providence: lat=41.8239891, lon=-71.4128343
Processed Grinby: lat=None, lon=None
Processed Trotwood: lat=39.7972788, lon=-84.3113334
Processed France: lat=46.603354, lon=1.8883335
Processed Pentonville: lat=51.5321048, lon=-0.1148938
Processed Macbeth: lat=33.2676686, lon=-79.9748017
Processed Ashford: lat=51.148555, lon=0.8722566
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Highgate: lat=51.5706446, lon=-0.1492397
Processed England: lat=52.5310214, lon=-1.2649062
Processed Yarmouth Roads: lat=41.6712684, lon=-70.1963917
Processed gentâ€™lmen: lat=None, lon=None
Processed South America: lat=-21.0002179, lon=-61.0006565
Processed Hookey: lat=-43.63006, lon=171.408516
Processed Russia: lat=64.6863136, lon=97.7453061
Processed Egypt: lat=26.2540493, lon=29.2675469
Processed Jorkins: lat=52.431878, lon=-128.4983221
Processed St. Albans: lat=51.753051, lon=-0.3379675
Processed Oxford: lat=51.7520131, lon=-1.2578499
Processed Amigoarawaysoo: lat=None, lon=None
Processed Copperfield: lat=50.912048, lon=-113.9320979
Processed Esquire: lat=51.0785281, lon=-114.1497323
Processed Ely Place: lat=52.1759669, lon=0.1171379
Processed Holborn: lat=51.5195982, lon=-0.1137266
Processed Newmarket: lat=52.2443103, lon=0.4065503
Processed CAPTIVITY: lat=14.6550391, lon=121.062418
Processed Norwood: lat=42.194543, lon=-71.1994976
Processed Paris: lat=48.8588897, lon=2.320041
Processed Fairyland: lat=-26.527996, lon=150.9133931

Processed Camden Town: lat=51.5392533, lon=-0.142757
Processed Devonshire: lat=50.7241405, lon=-3.6607788
Processed Hanbury: lat=52.2688447, lon=-2.0527598
Processed Piccadilly,--which: lat=None, lon=None
Processed Steerforth: lat=51.4382703, lon=-0.1880335
Processed Omer: lat=31.2659365, lon=34.847616
Processed Norwich: lat=52.6285576, lon=1.2923954
Processed Court: lat=47.2398992, lon=7.337079
Processed Guildford: lat=51.2356068, lon=-0.5732063
Processed Memory: lat=52.4799435, lon=-7.3229516
Processed Sahara: lat=22.25, lon=9.8
Processed Hampstead: lat=51.55653, lon=-0.1783011
Processed Dora: lat=33.7286935, lon=-87.0904188
Processed nankeen: lat=-31.7222903, lon=115.7881665
Processed Peru: lat=-6.8699697, lon=-75.0458515
Processed Putney: lat=51.4625314, lon=-0.2163018
Processed Italy: lat=42.6384261, lon=12.674297
Processed Calcutta: lat=22.5726459, lon=88.3638953
Processed ALL: lat=40.8077797, lon=-84.0572225
Processed Switzerland: lat=46.7985624, lon=8.2319736
Processed Naples: lat=40.8358846, lon=14.2487679
Processed Spain: lat=39.3260685, lon=-4.8379791
Processed Westminster: lat=51.5004439, lon=-0.1265398
Processed America: lat=39.7837304, lon=-100.445882
Processed Uxbridge: lat=51.5449509, lon=-0.4816672
Processed Leghorn: lat=42.7902379, lon=10.3402239
Processed Australia: lat=-24.7761086, lon=134.755
Processed Lonâ€™on: lat=53.9694543, lon=-8.0013318
Processed Hornsey: lat=51.5873645, lon=-0.1209667
Processed Ipswich: lat=52.0579324, lon=1.1528095
Processed Portugal: lat=39.6621648, lon=-8.1353519
Processed Old England: lat=50.8428356, lon=4.3590958
Processed Britannia: lat=55.9821462, lon=-3.1773092
Processed Albion: lat=54.3151594, lon=-1.9181532
Processed Britain: lat=54.3151594, lon=-1.9181532
Processed Geneva: lat=46.2017559, lon=6.1466014
Processed Traddles: lat=36.273643, lon=-115.2290163
Processed Puss: lat=48.1984722, lon=-120.4814831
Processed Kent: lat=51.2070749, lon=0.7210362
Processed Babel: lat=-2.7052886, lon=106.3585607
Processed Southampton: lat=50.9025349, lon=-1.404189
Processed Port Middlebay Harbour: lat=None, lon=None
Processed TERPSICHORE: lat=52.5054466, lon=13.5229384
Processed York: lat=53.9656579, lon=-1.0743052
Processed Chaney: lat=45.4619833, lon=4.4309908
Processed London Docks: lat=51.5065406, lon=-0.0716502
Processed London: lat=51.5074456, lon=-0.1277653
Processed Gog: lat=-22.5053918, lon=18.9715413
Processed England: lat=52.5310214, lon=-1.2649062
Processed Peckham: lat=51.4734122, lon=-0.0699321
Processed Robinson Crusoe â€™s Island: lat=None, lon=None
Processed Cornwall: lat=50.4433489, lon=-4.6246566
Processed Deptford: lat=51.4758453, lon=-0.0215164
Processed Jamaica Harbour: lat=17.9383872, lon=-77.1134173
Processed Kirby: lat=29.4613454, lon=-98.3857901
Processed Saul: lat=37.2725912, lon=-83.4954647
Processed Camden Town: lat=51.5392533, lon=-0.142757
Processed Banbury Cross: lat=29.5640414, lon=-95.2626458
Processed Brighton: lat=50.8214626, lon=-0.1400561
Processed Rottingdean: lat=50.8034109, lon=-0.0572093
Processed India: lat=22.3511148, lon=78.6677428
Processed Bengal: lat=39.4735045, lon=-85.9228997
Processed Walâ€r: lat=7.0112197, lon=-9.9810336
Processed Sandhurst: lat=51.3502991, lon=-0.7872655
Processed Bedford: lat=40.0271453, lon=-78.5237447
Processed Florence: lat=43.7697955, lon=11.2556404
Processed Peruvian: lat=14.4480364, lon=120.9991389
Processed Greek: lat=52.3643571, lon=4.8841943
Processed Parnassus: lat=-42.7117596, lon=173.2912573
Processed Tusculum: lat=41.7977214, lon=12.7074041
Processed Sussex: lat=36.9096897, lon=-77.2741121
Processed Wellington: lat=-41.2887953, lon=174.7772114
Processed Wickam: lat=51.8088831, lon=-0.0266096
Processed Cheapside: lat=51.5138049, lon=-0.0921771
Processed Islington: lat=51.5384287, lon=-0.0999051
Processed Barbados: lat=13.1500331, lon=-59.5250305
Processed West Indies: lat=0.5173804, lon=35.2612102
Processed Bayswater: lat=51.5122764, lon=-0.1883854
Processed City: lat=-37.8141705, lon=144.9655616
Processed Barnet: lat=51.65309, lon=-0.2002261
Processed Whitby: lat=54.4874141, lon=-0.6155111
Processed Hampstead: lat=51.55653, lon=-0.1783011
Processed Birmingham: lat=52.4796992, lon=-1.9026911
Processed Towlinson: lat=None, lon=None
Processed Syracuse: lat=43.0481221, lon=-76.1474244
Processed Europe: lat=51.0, lon=10.0
Processed Leamington: lat=52.2913394, lon=-1.536404
Processed East India: lat=51.5093835, lon=-0.0021873
Processed Eden: lat=36.4884715, lon=-79.7667026
Processed Harrogate: lat=53.9921491, lon=-1.5391039
Processed Scarborough: lat=54.2820009, lon=-0.4011868
Processed Devonshire: lat=50.7241405, lon=-3.6607788
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Yorkshire: lat=53.9825271, lon=-1.38525
Processed Fulham: lat=51.474408, lon=-0.206809
Processed Gravesend: lat=51.4424747, lon=0.3694468
Processed Jericho: lat=40.7920441, lon=-73.5398476
Processed Brogley: lat=None, lon=None
Processed Australia: lat=-24.7761086, lon=134.755
Processed Bagstock: lat=53.3427825, lon=-2.1175776
Processed Ours: lat=46.5212356, lon=6.6406707
Processed Kenilworth: lat=42.0894728, lon=-87.7149295
Processed Warwick: lat=52.2814519, lon=-1.5815742
Processed Ganges: lat=25.7202249, lon=84.1052245
Processed Denmark: lat=55.670249, lon=10.3333283
Processed Paris: lat=48.8588897, lon=2.320041
Processed Battlebridge: lat=51.2554459, lon=-0.1595303
Processed Balls Pond: lat=49.051301, lon=-57.783622
Processed Kent: lat=51.2070749, lon=0.7210362
Processed Baden - Baden: lat=48.7610716, lon=8.239959
Processed Finchley: lat=51.5973246, lon=-0.1805587
Processed Southampton: lat=50.9025349, lon=-1.404189
Processed Jamaica: lat=18.1850507, lon=-77.3947693
Processed Barbados Harbour: lat=13.0997036, lon=-59.6250541
Processed Norwood: lat=42.194543, lon=-71.1994976
Processed Yonder: lat=51.5583678, lon=5.0589003
Processed Kingston - upon - Thames: lat=51.4096275, lon=-0.3062621
Processed Berkshire: lat=51.4534889, lon=-1.031873
Processed Anyshire: lat=None, lon=None
Processed Judah: lat=31.666667, lon=35.166667
Processed arnest: lat=49.0332438, lon=11.7749527
Processed Rule Britannia: lat=None, lon=None
Processed Greenland: lat=77.6192349, lon=-42.8125967
Processed Warwickshire: lat=52.3213064, lon=-1.5536906
Processed Montargis: lat=47.9978628, lon=2.7310072
Processed Brooksâ€™s: lat=None, lon=None
Processed Essex: lat=51.7704679, lon=0.4646698
Processed Hell: lat=42.4347571, lon=-83.9849477
Processed Dijon: lat=47.3215806, lon=5.0414701
Processed Havre: lat=48.5536972, lon=-109.677802
Processed Rouen: lat=49.4404591, lon=1.0939658
Processed Sicily: lat=37.587794, lon=14.155048
Processed Italy: lat=42.6384261, lon=12.674297
Processed China: lat=35.000074, lon=104.999927
Processed Canton: lat=23.1301964, lon=113.2592945
Processed Aldgate: lat=51.5142477, lon=-0.0757186
Processed Demerara: lat=5.6300783, lon=-58.3934238
Processed Hooroar: lat=None, lon=None
Processed France: lat=46.603354, lon=1.8883335
Processed Geneva: lat=46.2017559, lon=6.1466014
Processed Switzerland: lat=46.7985624, lon=8.2319736
Processed Yonder: lat=51.5583678, lon=5.0589003
Processed Hamlet: lat=34.8863657, lon=-79.6972143
Processed England: lat=52.5310214, lon=-1.2649062
Processed London: lat=51.5074456, lon=-0.1277653
Processed Court: lat=47.2398992, lon=7.337079
Processed Lunnon town: lat=51.4675417, lon=-0.1503802
Processed France: lat=46.603354, lon=1.8883335
Processed Newgate: lat=53.189006, lon=-2.8881902
Processed Camberwell: lat=51.4745706, lon=-0.0925416
Processed Bosworth Field: lat=42.9997804, lon=-77.485828
Processed Glastonbury: lat=51.14804, lon=-2.716577
Processed Athens: lat=33.9597677, lon=-83.376398
Processed Pork: lat=48.7928914, lon=-116.1384398
Processed Cheapside: lat=51.5138049, lon=-0.0921771
Processed Little Britain: lat=44.2855468, lon=-78.8599597
Processed Smithfield: lat=35.5111996, lon=-78.346102
Processed Jaggerth: lat=None, lon=None
Processed Hammersmith: lat=51.4920377, lon=-0.2236401
Processed Tartar: lat=40.3480411, lon=46.9748562
Processed Ceylon: lat=43.5335672, lon=-94.6316462
Processed Europe: lat=51.0, lon=10.0
Processed Harrow: lat=51.5968272, lon=-0.3373046
Processed Cambridge: lat=52.2055314, lon=0.1186637
Processed Australia: lat=-24.7761086, lon=134.755

Processed Walworth: lat=42.6711513, lon=-88.5467715
Processed Somersetshire: lat=51.1617509, lon=-3.0753867
Processed Soho: lat=51.5140654, lon=-0.1350494
Processed Antwerp: lat=51.2211097, lon=4.3997081
Processed Paris: lat=48.8534951, lon=2.3483915
Processed Kew: lat=51.4771443, lon=-0.2855658
Processed Roscian: lat=-27.4030104, lon=-58.9736472
Processed Denmark: lat=55.670249, lon=10.3333283
Processed Richmond: lat=37.5385087, lon=-77.43428
Processed Richmonds: lat=52.4582766, lon=-1.9545429
Processed Surrey: lat=51.2715316, lon=-0.3414524
Processed Yorkshire: lat=53.9825271, lon=-1.38525
Processed Surrey Richmond: lat=51.4690089, lon=-0.307877
Processed America: lat=39.7837304, lon=-100.445882
Processed Southwark: lat=51.5061349, lon=-0.1011379
Processed Blackfriars: lat=51.5115854, lon=-0.1037671
Processed Waterloo: lat=42.498275, lon=-92.3328743
Processed Westminster: lat=51.5004439, lon=-0.1265398
Processed Vauxhall: lat=51.4874834, lon=-0.1229297
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed Satis: lat=55.022499, lon=43.817501
Processed Marseilles: lat=41.3308666, lon=-88.7081293
Processed Portsmouth: lat=50.800031, lon=-1.0906023
Processed Botany Bay: lat=-33.9815082, lon=151.1796169
Processed New South Wales: lat=-31.8759835, lon=147.2869493
Processed India: lat=22.3511148, lon=78.6677428
Processed Essex: lat=51.7704679, lon=0.4646698
Processed Epsom: lat=51.3326098, lon=-0.2678212
Processed Brentford: lat=51.4863958, lon=-0.3216623
Processed Bridewells: lat=33.6284511, lon=-93.5701773
Processed Middlesex: lat=51.5460558, lon=-0.2537791
Processed Whitefriars: lat=52.4050669, lon=-1.5015793
Processed Temple: lat=31.0983747, lon=-97.3429563
Processed Greenwich: lat=51.4820845, lon=-0.0045417
Processed Dover: lat=51.1251275, lon=1.3134228
Processed Bridge: lat=51.2455894, lon=1.1252825
Processed Windsor: lat=42.2858536, lon=-82.9780695
Processed Erith: lat=51.480819, lon=0.1792322
Processed Wemmick: lat=51.3594273, lon=0.5056976
Processed Rotterdam: lat=51.9244424, lon=4.47775
Processed Gravesend: lat=51.4424747, lon=0.3694468
Processed Hamburg: lat=53.550341, lon=10.000654
Processed Kent: lat=51.2070749, lon=0.7210362
Processed Aberdeen: lat=57.1482429, lon=-2.0928095
Processed Glasgow: lat=55.861155, lon=-4.2501687
Processed Sunderland: lat=54.9058512, lon=-1.3828727
Processed Yarmouth: lat=52.6071742, lon=1.7314845
Processed Cairo: lat=30.0443879, lon=31.2357257
Processed Halloa: lat=None, lon=None
Processed Hymen: lat=-33.9601522, lon=151.0448927
Processed Herbert: lat=50.4263165, lon=-107.2201894
Processed England: lat=52.5310214, lon=-1.2649062
Processed Coketown: lat=40.3456245, lon=-80.6056291
Processed Brentford: lat=51.4863958, lon=-0.3216623
Processed London: lat=51.5074456, lon=-0.1277653
Processed Kidderminster: lat=52.3880787, lon=-2.2478582
Processed Sleary: lat=None, lon=None
Processed Thquire: lat=None, lon=None
Processed Parliamentary: lat=4.8511398, lon=31.5848585
Processed Babel: lat=-2.7052886, lon=106.3585607
Processed Bounderby: lat=51.7542831, lon=0.4532777
Processed Wales: lat=52.2928116, lon=-3.73893
Processed India: lat=22.3511148, lon=78.6677428
Processed China: lat=35.000074, lon=104.999927
Processed Tartary: lat=44.8035849, lon=4.6150972
Processed Lyons: lat=41.811108, lon=-87.8232695
Processed Jerusalem: lat=31.7788472, lon=35.2257856
Processed Esquire: lat=51.0785281, lon=-114.1497323
Processed Ireland: lat=52.865196, lon=-7.9794599
Processed Norfolk Island: lat=-29.0328038, lon=167.9483137
Processed Slackbridge: lat=None, lon=None
Processed Antwerp: lat=51.2211097, lon=4.3997081
Processed Adam: lat=47.1208993, lon=18.8631074
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Alderney: lat=49.7169949, lon=-2.196889
Processed Yorkshire: lat=53.9825271, lon=-1.38525
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed Japan: lat=36.5748441, lon=139.2394179
Processed bithnith: lat=None, lon=None
Processed Athleyâ€™th: lat=None, lon=None
Processed Parith: lat=None, lon=None
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Thleary: lat=None, lon=None
Processed Perthon: lat=None, lon=None
Processed Chethter: lat=None, lon=None
Processed Chelsea: lat=51.4875167, lon=-0.1687007
Processed Bermondsey: lat=51.4970125, lon=-0.063268
Processed Bleak House: lat=51.3598358, lon=1.4449668
Processed London: lat=51.5074456, lon=-0.1277653
Processed Marseilles: lat=41.3308666, lon=-88.7081293
Processed France: lat=46.603354, lon=1.8883335
Processed Hindoos: lat=None, lon=None
Processed Neapolitans: lat=None, lon=None
Processed Babel: lat=-2.7052886, lon=106.3585607
Processed Toulon: lat=43.1257311, lon=5.9304919
Processed Spain: lat=39.3260685, lon=-4.8379791
Processed Algiers: lat=36.7729333, lon=3.0588445
Processed Nice: lat=43.7009358, lon=7.2683912
Processed Genoa: lat=44.40726, lon=8.9338624
Processed Genoa Mole: lat=None, lon=None
Processed Harbour: lat=11.9147104, lon=79.8241099
Processed Porto Fino: lat=35.9407619, lon=-78.530627
Processed Leghorn: lat=42.7902379, lon=10.3402239
Processed Naples: lat=40.8358846, lon=14.2487679
Processed Cornice: lat=44.2506664, lon=9.6908469
Processed Lyons: lat=41.811108, lon=-87.8232695
Processed Swiss: lat=46.7985624, lon=8.2319736
Processed Canton de Vaud: lat=46.6356963, lon=6.5320717
Processed Belgium: lat=50.6402809, lon=4.6667145
Processed Paris: lat=48.8534951, lon=2.3483915
Processed Tattycoram: lat=None, lon=None
Processed China: lat=35.000074, lon=104.999927
Processed India: lat=22.3511148, lon=78.6677428
Processed Dover: lat=51.1251275, lon=1.3134228
Processed Chaymaid: lat=None, lon=None
Processed Cheapside: lat=51.5139127, lon=-0.092888
Processed Egypt: lat=26.2540493, lon=29.2675469
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Southwark: lat=51.5061349, lon=-0.1011379
Processed Symposium: lat=48.8530945, lon=2.3449268
Processed Albion: lat=54.3151594, lon=-1.9181532
Processed Billingsgate: lat=51.5093795, lon=-0.0831144
Processed Marshalsea: lat=50.7978306, lon=-2.8683069
Processed Canada: lat=61.0666922, lon=-107.991707
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed Moorfields: lat=53.4085494, lon=-2.9892356
Processed England: lat=52.5310214, lon=-1.2649062
Processed Camberwell: lat=51.4745706, lon=-0.0925416
Processed Chalons: lat=45.4458331, lon=4.9310763
Processed Great Britain: lat=54.3151594, lon=-1.9181532
Processed Avignon: lat=43.9492493, lon=4.8059012
Processed Britain: lat=54.3151594, lon=-1.9181532
Processed Cheltenham: lat=51.8995685, lon=-2.0711559
Processed Gloucestershire: lat=51.7643786, lon=-2.1880662
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Henley: lat=51.5375786, lon=-0.9050287
Processed London Bridge: lat=51.508049, lon=-0.0876715
Processed Cornwall: lat=50.416667, lon=-4.75
Processed Smithfield: lat=35.5111996, lon=-78.346102
Processed Saint Bartholomew: lat=50.0829206, lon=14.4172026
Processed Holborn: lat=51.5195982, lon=-0.1137266
Processed Covent Garden: lat=51.5128732, lon=-0.1225639
Processed Twickenham: lat=51.4467444, lon=-0.3281887
Processed Fulham: lat=51.474408, lon=-0.206809
Processed Putney: lat=51.4625314, lon=-0.2163018
Processed Germany: lat=51.1638175, lon=10.4478313
Processed St Petersburg: lat=59.938732, lon=30.316229
Processed Birmingham: lat=52.4796992, lon=-1.9026911
Processed Venice: lat=45.4371908, lon=12.3345898
Processed Switzerland: lat=46.7985624, lon=8.2319736
Processed Pompeii: lat=40.7517375, lon=14.4905636
Processed Vesuvius: lat=40.8213963, lon=14.4261967
Processed Kingston: lat=17.9712148, lon=-76.7928128
Processed Stiltstalking: lat=None, lon=None
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Turnkey: lat=51.8732419, lon=-176.6342363
Processed Middlesex: lat=51.5460558, lon=-0.2537791
Processed Society: lat=51.5059345, lon=-0.1323299
Processed Millennium: lat=40.7570832, lon=-73.9847924
Processed New Brunswick: lat=46.500283, lon=-66.750183
Processed Africa: lat=11.5024338, lon=17.7578122
Processed Plornish: lat=None, lon=None
Processed Tunbridge Wells: lat=51.1371483, lon=0.2673446
Processed Calais: lat=50.9524769, lon=1.8538446
Processed Pentonville: lat=51.5321048, lon=-0.1148938
Processed Bedfordshire: lat=52.0640034, lon=-0.4111138

Processed York: lat=53.9656579, lon=-1.0743052
Processed Durham: lat=54.666667, lon=-1.75
Processed Dunstable: lat=51.8861316, lon=-0.5209341
Processed Strait: lat=65.8455661, lon=-169.3785432
Processed Vanity: lat=51.5148418, lon=-0.1335193
Processed Italy-: lat=42.6384261, lon=12.674297
Processed Italy: lat=42.6384261, lon=12.674297
Processed Jerusalem: lat=31.7788472, lon=35.2257856
Processed Dorsetshire: lat=50.7968369, lon=-2.3447323
Processed Martigny: lat=49.8646862, lon=1.1526967
Processed Geneva: lat=46.2017559, lon=6.1466014
Processed Europe: lat=51.0, lon=10.0
Processed Esquire: lat=51.0785281, lon=-114.1497323
Processed Westminster: lat=51.5004439, lon=-0.1265398
Processed Florence: lat=43.7697955, lon=11.2556404
Processed Brighton: lat=50.8214626, lon=-0.1400561
Processed Mediterranean: lat=35.0000035, lon=19.9999957
Processed Marshongers: lat=None, lon=None
Processed Romely: lat=47.1684237, lon=27.5478274
Processed Mantua: lat=45.1692628, lon=10.6708365
Processed Pisa: lat=43.4714722, lon=10.6797912
Processed Banco: lat=46.3743057, lon=11.0686564
Processed Eton: lat=51.4885381, lon=-0.6091736
Processed Padrona: lat=42.251727, lon=-73.7882223
Processed Cavalletto: lat=42.3066283, lon=13.4583983
Processed Albano: lat=41.7479605, lon=12.670204
Processed Newton: lat=30.8118989, lon=-93.740504
Processed Watt: lat=-10.1721498, lon=123.6646451
Processed Sicily: lat=37.587794, lon=14.155048
Processed Vesta: lat=44.5077348, lon=-95.4163965
Processed Blackheath: lat=51.470342, lon=0.0058096
Processed Dartford: lat=51.4443059, lon=0.21807
Processed Gravesend: lat=51.4424747, lon=0.3694468
Processed Rochester: lat=43.157285, lon=-77.615214
Processed Sittingbourne: lat=51.3397366, lon=0.7342319
Processed Canterbury: lat=51.2800275, lon=1.0802533
Processed Surrey: lat=51.2715316, lon=-0.3414524
Processed Southampton: lat=50.9025349, lon=-1.404189
Processed Marsiglia: lat=43.2961743, lon=5.3699525
Processed HIS RIVAL IN A DISTRESSED STATE , AND FELT INCLINED TO HAVE A ROUND WITH HIM: lat=None, lon=None
Processed Londra: lat=51.5074456, lon=-0.1277653
Processed Gilbert: lat=33.3527632, lon=-111.789037
Processed Antwerp: lat=51.2211097, lon=4.3997081
Processed Amsterdam: lat=52.3730796, lon=4.8924534
Processed Casby: lat=-34.0858996, lon=150.7908252
Processed Saint Paul â€™s Churchyard: lat=None, lon=None
Processed England: lat=52.5310214, lon=-1.2649062
Processed London: lat=51.5074456, lon=-0.1277653
Processed New York: lat=40.7127281, lon=-74.0060152
Processed America: lat=39.7837304, lon=-100.445882
Processed Spain: lat=39.3260685, lon=-4.8379791
Processed Westminster: lat=51.5004439, lon=-0.1265398
Processed Salisbury: lat=51.0690613, lon=-1.7954134
Processed Christendom: lat=52.2596702, lon=-7.0985056
Processed Ireland: lat=52.865196, lon=-7.9794599
Processed Hope: lat=33.6670616, lon=-93.5915665
Processed Bounty: lat=51.523182, lon=-107.3625591
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Constantinople: lat=41.006381, lon=28.9758715
Processed Chevy Slyme: lat=None, lon=None
Processed Africa: lat=11.5024338, lon=17.7578122
Processed Don Juan: lat=-32.8128903, lon=-60.7140554
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Todgers: lat=36.0397485, lon=-86.7489099
Processed Camberwell: lat=51.4745706, lon=-0.0925416
Processed Germany: lat=51.1638175, lon=10.4478313
Processed Baal: lat=50.9956319, lon=4.7523911
Processed Britannia: lat=55.9821462, lon=-3.1773092
Processed Pecksniff: lat=-42.1705567, lon=171.500772
Processed Thither: lat=43.2641692, lon=-70.5931974
Processed Europe: lat=51.0, lon=10.0
Processed Northkey: lat=24.6840393, lon=-82.8092867
Processed Westlock: lat=54.1525241, lon=-113.8519902
Processed Hounslow: lat=51.4686132, lon=-0.3613471
Processed Wiltshire: lat=51.324162, lon=-1.9032487
Processed the: lat=52.4577754, lon=-1.8692099
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed Old York: lat=49.2225368, lon=28.4232101
Processed Columbia: lat=4.099917, lon=-72.9088133
Processed Mayfair: lat=51.5110872, lon=-0.147058
Processed Holborn: lat=51.5195982, lon=-0.1137266
Processed New York Sewer: lat=41.311798, lon=-74.1429973
Processed New York Stabber: lat=None, lon=None
Processed York: lat=53.9656579, lon=-1.0743052
Processed Washington: lat=38.8950368, lon=-77.0365427
Processed Mississippi: lat=32.9715285, lon=-89.7348497
Processed Missouri: lat=38.7604815, lon=-92.5617875
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Millinery: lat=40.7634977, lon=-73.9676156
Processed Hebrew: lat=14.5478333, lon=121.1334641
Processed Fladdock: lat=None, lon=None
Processed Ecod: lat=25.2988489, lon=55.388155
Processed High Holborn: lat=51.5172058, lon=-0.122648
Processed Stratford: lat=52.1927803, lon=-1.70634
Processed EDEN: lat=36.4884715, lon=-79.7667026
Processed Windsor: lat=42.2858536, lon=-82.9780695
Processed Massachusetts: lat=42.3788774, lon=-72.032366
Processed Natur: lat=46.3439411, lon=25.8271922
Processed Cornwall: lat=50.4433489, lon=-4.6246566
Processed Kent: lat=51.2070749, lon=0.7210362
Processed Tarnal: lat=None, lon=None
Processed ginâ€™ral: lat=None, lon=None
Processed Indy: lat=22.3511148, lon=78.6677428
Processed PART: lat=18.0814066, lon=-63.0467131
Processed Cheapside: lat=51.5138049, lon=-0.0921771
Processed Capricorn: lat=-24.0463635, lon=119.6940968
Processed Bengal: lat=39.4735045, lon=-85.9228997
Processed Brixton: lat=51.4633914, lon=-0.1148023
Processed India: lat=22.3511148, lon=78.6677428
Processed Jerusalem: lat=31.7788472, lon=35.2257856
Processed Saint Polge: lat=48.7353361, lon=2.3238632
Processed Harâ€™fordshire: lat=None, lon=None
Processed Calcutta: lat=22.5726459, lon=88.3638953
Processed Java: lat=-6.7115076, lon=110.6337137
Processed Trafalgar: lat=36.1822339, lon=-6.0332217
Processed IllinOY: lat=None, lon=None
Processed Americay: lat=40.8849956, lon=-74.3816895
Processed Persia: lat=32.6475314, lon=54.5643516
Processed STARTING: lat=49.0225822, lon=2.1890291
Processed Bagdad: lat=33.3061701, lon=44.3872213
Processed Yoho: lat=6.9229699, lon=-5.5796837
Processed Islington: lat=51.5384287, lon=-0.0999051
Processed Aldermanbury: lat=51.5165442, lon=-0.0926452
Processed Cornhill: lat=57.6116818, lon=-2.696266
Processed Gravesend: lat=51.4424747, lon=0.3694468
Processed Antwerp: lat=51.2211097, lon=4.3997081
Processed London Bridge: lat=51.508049, lon=-0.0876715
Processed Saint Bartholomew: lat=50.0829206, lon=14.4172026
Processed Sweedlepipes: lat=None, lon=None
Processed Araby: lat=32.6756039, lon=-114.5221714
Processed Salisbury Plain: lat=51.2486531, lon=-1.8934831
Processed Van Dieman â€™s Land: lat=None, lon=None
Processed Cholberry: lat=None, lon=None
Processed Bolberry: lat=50.2385588, lon=-3.8390847
Processed England: lat=52.5310214, lon=-1.2649062
Processed Yorkshire: lat=53.9825271, lon=-1.38525
Processed London: lat=51.5074456, lon=-0.1277653
Processed Brunswick: lat=52.2646577, lon=10.5236066
Processed Dawlish: lat=50.5797391, lon=-3.468931
Processed Devonshire: lat=50.7241405, lon=-3.6607788
Processed Exeter: lat=50.7256138, lon=-3.5269209
Processed Florence: lat=43.7697955, lon=11.2556404
Processed Smithfield: lat=35.5111996, lon=-78.346102
Processed Midsummer: lat=33.7029293, lon=-117.7583927
Processed Halloa: lat=None, lon=None
Processed Dotheboys: lat=None, lon=None
Processed Greta Bridge: lat=54.513494, lon=-1.867859
Processed Islington: lat=51.5384287, lon=-0.0999051
Processed Grantham: lat=52.913192, lon=-0.6438974
Processed Eton Slocomb: lat=None, lon=None
Processed Stamford: lat=41.0534302, lon=-73.5387341
Processed Newark: lat=40.735657, lon=-74.1723667
Processed York: lat=53.9656579, lon=-1.0743052
Processed York Minster: lat=53.9623561, lon=-1.0820834
Processed Grogzwig: lat=None, lon=None
Processed Germany: lat=51.1638175, lon=10.4478313
Processed Lincoln: lat=40.8088861, lon=-96.7077751
Processed Gillingwater: lat=None, lon=None
Processed Swillenhausen: lat=None, lon=None
Processed France: lat=46.603354, lon=1.8883335
Processed Cornwall: lat=50.4433489, lon=-4.6246566
Processed Boroughbridge: lat=54.0943398, lon=-1.3947113
Processed Finsbury: lat=51.521798, lon=-0.0914245
Processed Westminster: lat=51.5004439, lon=-0.1265398

Processed Parliament: lat=55.6759281, lon=12.5809377
Processed Russia: lat=64.6863136, lon=97.7453061
Processed Cheltenham: lat=51.8995685, lon=-2.0711559
Processed Hammersmith: lat=51.4920377, lon=-0.2236401
Processed the United States: lat=47.8291375, lon=-122.5970742
Processed Syria: lat=34.6401861, lon=39.0494106
Processed Chelsea: lat=51.4875167, lon=-0.1687007
Processed Brompton: lat=54.3617085, lon=-1.4237114
Processed Portsmouth: lat=50.800031, lon=-1.0906023
Processed Guildford: lat=51.2356068, lon=-0.5732063
Processed Southampton: lat=50.9025349, lon=-1.404189
Processed Canterbury: lat=51.2800275, lon=1.0802533
Processed Winchester,--when: lat=38.30314, lon=-77.4596489
Processed Ryde: lat=50.7299865, lon=-1.1603699
Processed Cheapside: lat=51.5138049, lon=-0.0921771
Processed Llandaff: lat=51.495523, lon=-3.2194743
Processed North Wales: lat=52.9487856, lon=-3.7601273
Processed Stratford: lat=52.1927803, lon=-1.70634
Processed Birmingham: lat=52.4796992, lon=-1.9026911
Processed Paris: lat=48.8588897, lon=2.320041
Processed COLOGNE: lat=50.938361, lon=6.959974
Processed MERCIE: lat=63.4617429, lon=-72.0101453
Processed Italy: lat=42.6384261, lon=12.674297
Processed Cross: lat=35.3001216, lon=-90.7750181
Processed India: lat=22.3511148, lon=78.6677428
Processed Kingston: lat=17.9712148, lon=-76.7928128
Processed Whitechapel: lat=51.5174861, lon=-0.0659685
Processed HERE: lat=51.5030443, lon=-0.0015493
Processed Taunton Vale: lat=51.0319932, lon=-3.1181829
Processed Bow: lat=51.5309383, lon=-0.0274853
Processed Camberwell: lat=51.4745706, lon=-0.0925416
Processed Oxford: lat=51.7520131, lon=-1.2578499
Processed Newgate: lat=53.189006, lon=-2.8881902
Processed Lunnun: lat=52.0610706, lon=-1.3682234
Processed Botany Bay: lat=-33.9815082, lon=151.1796169
Processed Barbary: lat=52.094326, lon=30.569483
Processed Aldgate: lat=51.5142477, lon=-0.0757186
Processed Paving: lat=-26.1829222, lon=28.0892602
Processed Tartary: lat=44.8035849, lon=4.6150972
Processed China: lat=35.000074, lon=104.999927
Processed Europe: lat=51.0, lon=10.0
Processed Asia: lat=51.2086975, lon=89.2343748
Processed Africa: lat=11.5024338, lon=17.7578122
Processed America: lat=39.7837304, lon=-100.445882
Processed Pimlico: lat=51.4889993, lon=-0.1398817
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed Tutbury: lat=52.8492143, lon=-1.7025715
Processed Tim Linkinwater: lat=None, lon=None
Processed Blunderbore: lat=None, lon=None
Processed Madagascar: lat=-18.9249604, lon=46.4416422
Processed Diamonds: lat=45.5206006, lon=-122.6740435
Processed Kalydor: lat=None, lon=None
Processed Hampton: lat=37.0264414, lon=-76.3442846
Processed Brussels: lat=50.8465573, lon=4.351697
Processed Twickenham: lat=51.4467444, lon=-0.3281887
Processed Petersham: lat=42.4883041, lon=-72.1866162
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Lambeth: lat=51.4952111, lon=-0.1163354
Processed Purechurch: lat=None, lon=None
Processed Leicestershire: lat=52.6849138, lon=-1.1847653
Processed Soho: lat=51.5140654, lon=-0.1350494
Processed Piccadilly: lat=51.5064454, lon=-0.1434673
Processed Westminster: lat=51.5004439, lon=-0.1265398
Processed Eton: lat=51.4885381, lon=-0.6091736
Processed Surrey: lat=51.2715316, lon=-0.3414524
Processed Dorsetshire: lat=50.7968369, lon=-2.3447323
Processed Chelsea: lat=51.4875167, lon=-0.1687007
Processed dudgeon: lat=51.5721251, lon=-119.1554707
Processed London: lat=51.5074456, lon=-0.1277653
Processed Margate: lat=51.3878174, lon=1.3819699
Processed England: lat=52.5310214, lon=-1.2649062
Processed Wales: lat=52.2928116, lon=-3.73893
Processed Finchley: lat=51.5973246, lon=-0.1805587
Processed Africa: lat=11.5024338, lon=17.7578122
Processed Demerara: lat=5.6300783, lon=-58.3934238
Processed China: lat=35.000074, lon=104.999927
Processed Canterbury: lat=51.2800275, lon=1.0802533
Processed Esquire: lat=51.0785281, lon=-114.1497323
Processed Houndsditch: lat=51.516015, lon=-0.0798215
Processed Whitechapel: lat=51.5174861, lon=-0.0659685
Processed North: lat=13.45911, lon=-2.2496367
Processed Brassâ€™s: lat=12.9705196, lon=77.6006386
Processed Thigsberry: lat=None, lon=None
Processed Paradise: lat=36.0724299, lon=-115.1474759
Processed Soho: lat=51.5140654, lon=-0.1350494
Processed Grinidge: lat=None, lon=None
Processed Halloa: lat=None, lon=None
Processed Highgate: lat=51.5706446, lon=-0.1492397
Processed Great Britain: lat=54.3151594, lon=-1.9181532
Processed Witherden: lat=51.8703745, lon=0.1396882
Processed Peckham Rye: lat=51.4700059, lon=-0.0694125
Processed Damascus: lat=39.2884381, lon=-77.2038717
Processed Grand Cairo: lat=14.486796, lon=121.0045597
Processed Cheselbourne: lat=50.8041438, lon=-2.3425782
Processed Hampstead: lat=51.55653, lon=-0.1783011
Processed Paris: lat=48.8534951, lon=2.3483915
Processed Z.: lat=53.5450793, lon=15.5661586
Processed England: lat=52.5310214, lon=-1.2649062
Processed Birmingham: lat=52.4796992, lon=-1.9026911
Processed Bridewell: lat=51.7462003, lon=-8.7350668
Processed LONDON: lat=51.5074456, lon=-0.1277653
Processed Barnet: lat=51.65309, lon=-0.2002261
Processed Islington: lat=51.5384287, lon=-0.0999051
Processed Clerkenwell: lat=51.5237268, lon=-0.1055555
Processed Newgate: lat=53.189006, lon=-2.8881902
Processed Pentonville: lat=51.5321048, lon=-0.1148938
Processed Ratcliffe: lat=51.5115396, lon=-0.0442364
Processed Jamaica: lat=18.1850507, lon=-77.3947693
Processed Smithfield: lat=35.5111996, lon=-78.346102
Processed Clerkinwell: lat=None, lon=None
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Whitechapel: lat=51.5174861, lon=-0.0659685
Processed Chertsey: lat=51.392296, lon=-0.5038294
Processed Ned: lat=19.1601795, lon=77.3098821
Processed Shoreditch: lat=51.5266694, lon=-0.0798926
Processed Holborn: lat=51.5195982, lon=-0.1137266
Processed Kensington: lat=51.4989948, lon=-0.1991229
Processed Isleworth: lat=51.4685202, lon=-0.325966
Processed Hammersmith: lat=51.4920377, lon=-0.2236401
Processed Chiswick: lat=51.4923137, lon=-0.263818
Processed Brentford: lat=51.4863958, lon=-0.3216623
Processed Halliford: lat=-27.4539955, lon=150.9596307
Processed Shepperton: lat=51.3939186, lon=-0.448674
Processed Sunbury: lat=40.8619754, lon=-76.7936252
Processed Edmonton: lat=53.5462055, lon=-113.491241
Processed Battlebridge: lat=51.2554459, lon=-0.1595303
Processed Kingston: lat=17.9712148, lon=-76.7928128
Processed Stop: lat=46.4369086, lon=13.6728474
Processed Spitalfields: lat=51.5195274, lon=-0.0751701
Processed Cod: lat=44.520752, lon=-109.0218534
Processed Camden Town: lat=51.5392533, lon=-0.142757
Processed Nowhere: lat=38.7311123, lon=-95.2414104
Processed London Bridge: lat=51.508049, lon=-0.0876715
Processed Highgate: lat=51.5706446, lon=-0.1492397
Processed Whittington: lat=52.1728069, lon=-2.1840377
Processed Hampstead: lat=51.55653, lon=-0.1783011
Processed Hendon: lat=51.5897175, lon=-0.2216026
Processed Thither: lat=43.2641692, lon=-70.5931974
Processed Hatfield: lat=51.7634675, lon=-0.2258741
Processed St. Albans: lat=51.753051, lon=-0.3379675
Processed France: lat=46.603354, lon=1.8883335
Processed Damme: lat=51.2499641, lon=3.3217195
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Paris: lat=48.8534951, lon=2.3483915
Processed Rotherhithe: lat=51.5002908, lon=-0.0436321
Processed Dockhead: lat=51.5000867, lon=-0.072671
Processed pell - mell: lat=38.0201613, lon=23.7454438
Processed Wales: lat=52.2928116, lon=-3.73893
Processed Chester: lat=53.1908873, lon=-2.8908955
Processed SOMEWHERE: lat=51.5375149, lon=-0.2029211
Processed London: lat=51.5074456, lon=-0.1277653
Processed Snigsworthy: lat=None, lon=None
Processed Jamaica: lat=18.1850507, lon=-77.3947693
Processed Tobago: lat=11.2404615, lon=-60.672006
Processed Nowhere: lat=38.7311123, lon=-95.2414104
Processed Europe: lat=51.0, lon=10.0
Processed Brussels: lat=50.8465573, lon=4.351697
Processed Canterbury: lat=51.2800275, lon=1.0802533
Processed Ratcliffe: lat=51.5115396, lon=-0.0442364
Processed Rotherhithe: lat=51.5002908, lon=-0.0436321
Processed Westminster: lat=51.5004439, lon=-0.1265398
Processed England: lat=52.5310214, lon=-1.2649062
Processed Cheapside: lat=51.5139127, lon=-0.092888

Processed Chicksey: lat=None, lon=None
Processed Holloway: lat=51.5572453, lon=-0.1183706
Processed Erboff: lat=None, lon=None
Processed Bower: lat=-34.1230917, lon=139.3535605
Processed Arbour: lat=49.2756065, lon=-122.9073653
Processed Rooshan: lat=35.5745334, lon=51.466166
Processed Print: lat=45.4270935, lon=-75.6890919
Processed Chiswick: lat=51.4923137, lon=-0.263818
Processed Clerkenwell: lat=51.5237268, lon=-0.1055555
Processed Agincourt: lat=48.7323472, lon=6.236384
Processed Harmony Jail: lat=25.344146, lon=82.9706047
Processed Shares: lat=9.3749624, lon=-83.7048133
Processed Paris: lat=48.8534951, lon=2.3483915
Processed Parliament: lat=55.6759281, lon=12.5809377
Processed Hymen: lat=-33.9601522, lon=151.0448927
Processed Rhodes: lat=48.7584377, lon=6.8985177
Processed Piccadilly: lat=51.5064454, lon=-0.1434673
Processed Yorkshire: lat=53.9825271, lon=-1.38525
Processed Stucconia: lat=None, lon=None
Processed Wight: lat=50.6710482, lon=-1.3327111
Processed Shanklin: lat=50.6288132, lon=-1.1779031
Processed Londres: lat=51.5074456, lon=-0.1277653
Processed Mong: lat=46.8250388, lon=103.8499736
Processed the Streets Of The World â€™s Metropolis , London , Londres , London: lat=None, lon=None
Processed Metropolis: lat=38.1260765, lon=27.324371
Processed Britannique: lat=55.001251, lon=-125.002441
Processed Angleterre: lat=52.5310214, lon=-1.2649062
Processed Ozer: lat=32.0517833, lon=34.7911013
Processed Blest: lat=-34.4347908, lon=-58.8139501
Processed Asia: lat=51.2086975, lon=89.2343748
Processed Africa: lat=11.5024338, lon=17.7578122
Processed America: lat=39.7837304, lon=-100.445882
Processed Podsnappery: lat=None, lon=None
Processed Hampton: lat=37.0264414, lon=-76.3442846
Processed Essex: lat=51.7704679, lon=0.4646698
Processed Kent: lat=51.2070749, lon=0.7210362
Processed Wellington: lat=-41.2887953, lon=174.7772114
Processed Whitefriars: lat=52.4050669, lon=-1.5015793
Processed Northfleet: lat=51.4432285, lon=0.3363286
Processed Cosy: lat=48.8552062, lon=2.2718633
Processed Brentford: lat=51.4863958, lon=-0.3216623
Processed Portland Place: lat=51.5211252, lon=-0.1453006
Processed Linseed: lat=54.1080931, lon=-2.1165363
Processed Esquire: lat=51.0785281, lon=-114.1497323
Processed Surrey: lat=51.2715316, lon=-0.3414524
Processed Millbank: lat=51.4894929, lon=-0.1279708
Processed Bedlam.â€”Now: lat=None, lon=None
Processed Britannia: lat=55.9821462, lon=-3.1773092
Processed Waterloo: lat=42.498275, lon=-92.3328743
Processed Italy: lat=42.6384261, lon=12.674297
Processed Pocket - Breaches: lat=None, lon=None
Processed India: lat=22.3511148, lon=78.6677428
Processed Fledgeby: lat=None, lon=None
Processed St: lat=0.9713095, lon=7.02255
Processed Saul: lat=37.2725912, lon=-83.4954647
Processed Newcastle: lat=54.9738474, lon=-1.6131572
Processed China: lat=35.000074, lon=104.999927
Processed Gravesend: lat=51.4424747, lon=0.3694468
Processed Greenwich: lat=51.4820845, lon=-0.0045417
Processed Vesuvius: lat=40.8213963, lon=14.4261967
Processed Aetna: lat=41.7669843, lon=-72.6908971
Processed Iceland: lat=64.9841821, lon=-18.1059013
Processed Hexam: lat=-31.940197, lon=151.0890547
Processed Whitehall: lat=51.5042602, lon=-0.126329
Processed Newgate: lat=53.189006, lon=-2.8881902
Processed Snigsworth: lat=None, lon=None
Processed Warwick: lat=52.2814519, lon=-1.5815742
Processed Cornhill: lat=57.6116818, lon=-2.696266
Processed Israel: lat=30.8124247, lon=34.8594762
Processed Pubsey: lat=None, lon=None
Processed Riah: lat=33.1733591, lon=-7.390308
Processed Penal Settlement: lat=10.1226007, lon=-61.4924922
Processed Rome: lat=41.8933203, lon=12.4829321
Processed Halloa: lat=None, lon=None
Processed Southwark: lat=51.5061349, lon=-0.1011379
Processed Gloucester: lat=51.8653705, lon=-2.2458192
Processed Dunghill: lat=50.5794669, lon=-4.005724
Processed Cambridge: lat=52.2055314, lon=0.1186637
Processed Maryborough: lat=-25.537583, lon=152.7019182
Processed Ireland: lat=52.865196, lon=-7.9794599
Processed Chertsey: lat=51.392296, lon=-0.5038294
Processed Walton: lat=30.6204939, lon=-86.1912678
Processed Kingston: lat=17.9712148, lon=-76.7928128
Processed Staines: lat=51.434012, lon=-0.511044
Processed Oxfordshire: lat=51.833333, lon=-1.25
Processed Hertfordshire: lat=51.8400523, lon=-0.0978552
Processed Merry England: lat=50.0651266, lon=-5.5887742
Processed Wrayburn: lat=53.3999436, lon=-2.9468398
Processed Golconda: lat=37.3672744, lon=-88.4864316
Processed Wilfers: lat=46.9405192, lon=15.8802756
Processed Richmond: lat=37.5385087, lon=-77.43428
Processed Blackheath: lat=51.470342, lon=0.0058096
Processed Barcelona: lat=41.3825802, lon=2.177073
Processed St Helena: lat=-15.9690718, lon=-5.71295
Processed PEPPER: lat=39.1887055, lon=-80.1564726
Processed Albany: lat=41.000028, lon=19.9999619
Processed Lammle: lat=49.7952891, lon=9.929406
Processed Egypt: lat=26.2540493, lon=29.2675469
Processed Eternity: lat=47.6702622, lon=-122.098945
Processed London Bridge: lat=51.508049, lon=-0.0876715
Processed GENERAL: lat=10.6453219, lon=124.4587925
Processed Calais: lat=50.9524769, lon=1.8538446
Processed Twemlow: lat=53.2165702, lon=-2.3393933
Processed Britain: lat=54.3151594, lon=-1.9181532
Processed Russia: lat=64.6863136, lon=97.7453061
Processed France: lat=46.603354, lon=1.8883335
Processed Coketown: lat=40.3456245, lon=-80.6056291
Processed England: lat=52.5310214, lon=-1.2649062
Processed Britain: lat=54.3151594, lon=-1.9181532
Processed Old England: lat=50.8428356, lon=4.3590958
Processed London: lat=51.5074456, lon=-0.1277653
Processed Chancery: lat=53.7249045, lon=-7.4558109
Processed Ireland: lat=52.865196, lon=-7.9794599
Processed Paradise: lat=36.0724299, lon=-115.1474759
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed England: lat=52.5310214, lon=-1.2649062
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed London: lat=51.5074456, lon=-0.1277653
Processed Toby Veck: lat=None, lon=None
Processed Dorsetshire: lat=50.7968369, lon=-2.3447323
Processed Tackletons: lat=None, lon=None
Processed Halloa: lat=None, lon=None
Processed Tilly: lat=49.1454611, lon=1.5298369
Processed Boxer: lat=50.0824172, lon=5.9913797
Processed Berthaâ€™s: lat=None, lon=None
Processed Tackleton: lat=None, lon=None
Processed Battersea: lat=51.4707933, lon=-0.172214
Processed England: lat=52.5310214, lon=-1.2649062
Processed Widge: lat=30.4188774, lon=-97.6871151
Processed Bridge: lat=51.2455894, lon=1.1252825
Processed London Bridge: lat=51.508049, lon=-0.0876715
Processed Blackfriars: lat=51.5115854, lon=-0.1037671
Processed Chelsea: lat=51.4875167, lon=-0.1687007
Processed Putney: lat=51.4625314, lon=-0.2163018
Processed Waterloo: lat=42.498275, lon=-92.3328743
Processed London: lat=51.5074456, lon=-0.1277653
Processed Heaven: lat=51.507865, lon=-0.1245597
Processed Hornsey: lat=51.5873645, lon=-0.1209667
Processed Highgate: lat=51.5706446, lon=-0.1492397
Processed Brixton: lat=51.4633914, lon=-0.1148023
Processed Camberwell: lat=51.4745706, lon=-0.0925416
Processed London: lat=51.5074456, lon=-0.1277653
Processed Hampstead: lat=51.55653, lon=-0.1783011
Processed Aldgate: lat=51.5142477, lon=-0.0757186
Processed St. Martinâ€™s - le - Grand: lat=None, lon=None
Processed Pentonwil: lat=None, lon=None
Processed Rochester: lat=43.157285, lon=-77.615214
Processed Whitehall: lat=51.5042602, lon=-0.126329
Processed Spain: lat=39.3260685, lon=-4.8379791
Processed England: lat=52.5310214, lon=-1.2649062
Processed Stroud: lat=51.745424, lon=-2.2198605
Processed Chatham: lat=31.9668887, lon=-81.0626008
Processed Brompton: lat=54.3617085, lon=-1.4237114
Processed Kent: lat=51.2070749, lon=0.7210362
Processed Providence: lat=41.8239891, lon=-71.4128343
Processed Surrey: lat=51.2715316, lon=-0.3414524
Processed Dingley Dell: lat=42.1189832, lon=-72.2578572
Processed MUGGLETON DINED: lat=None, lon=None
Processed Muggleton: lat=51.1587412, lon=-1.7650331
Processed Muggleton--: lat=51.1587412, lon=-1.7650331
Processed Damp: lat=54.583368, lon=10.0227108
Processed Borough: lat=51.5011444, lon=-0.0932926
Processed Dorking: lat=51.2325184, lon=-0.3306724
Processed Canterbury: lat=51.2800275, lon=1.0802533
Processed Cobham: lat=51.3300079, lon=-0.4120821
Processed Eatanswill: lat=None, lon=None

Processed La: lat=20.0171109, lon=103.378253
Processed Bristol: lat=51.4538022, lon=-2.5972985
Processed Bilson: lat=64.1170886, lon=-21.7821544
Processed Slum: lat=45.4388828, lon=14.0020198
Processed City: lat=-37.8141705, lon=144.9655616
Processed France: lat=46.603354, lon=1.8883335
Processed England--: lat=52.5310214, lon=-1.2649062
Processed Smorltork: lat=None, lon=None
Processed Bury: lat=49.3132772, lon=2.3439338
Processed Cornhill: lat=57.6116818, lon=-2.696266
Processed Scotland: lat=56.7861112, lon=-4.1140518
Processed Tyburn: lat=51.518391, lon=-0.1529642
Processed HIS LONG - LOST PARENT: lat=None, lon=None
Processed Westminster: lat=51.5004439, lon=-0.1265398
Processed Fogg: lat=-1.9139177, lon=11.8962954
Processed Bardell: lat=51.9768712, lon=1.0125251
Processed Ipswich: lat=52.0579324, lon=1.1528095
Processed Chelmsford: lat=51.7345329, lon=0.4730532
Processed Jingle: lat=38.395993, lon=112.085828
Processed Whitechapel: lat=51.5174861, lon=-0.0659685
Processed Newgate: lat=53.189006, lon=-2.8881902
Processed Camden Town: lat=51.5392533, lon=-0.142757
Processed Turkey: lat=39.294076, lon=35.2316631
Processed Sierra Leone: lat=8.6400349, lon=-11.8400269
Processed Saugur Point: lat=None, lon=None
Processed Granby: lat=45.3990409, lon=-72.721834
Processed Hollands: lat=54.861363, lon=-7.5117791
Processed Merriker: lat=None, lon=None
Processed Chancery: lat=53.7249045, lon=-7.4558109
Processed Lincoln: lat=40.8088861, lon=-96.7077751
Processed Southwark: lat=51.5061349, lon=-0.1011379
Processed London Bridge: lat=51.508049, lon=-0.0876715
Processed Wultur: lat=None, lon=None
Processed Suffolk: lat=52.2410014, lon=1.0465716
Processed Garraways: lat=52.0230175, lon=-0.7448442
Processed July: lat=-15.638786, lon=34.704887
Processed BATH: lat=51.3813864, lon=-2.3596963
Processed Esquire: lat=51.0785281, lon=-114.1497323
Processed Bantam: lat=38.9988329, lon=-84.141076
Processed Ba -- ath: lat=48.9383736, lon=7.1805532
Processed Clapham Green: lat=54.0258106, lon=-1.630505
Processed Athens: lat=33.9597677, lon=-83.376398
Processed Britain: lat=54.3151594, lon=-1.9181532
Processed Clifton: lat=40.8584328, lon=-74.1637553
Processed Arternoon: lat=None, lon=None
Processed New South Wales: lat=-31.8759835, lon=147.2869493
Processed consekens: lat=None, lon=None
Processed regâ€™lar: lat=-29.7773265, lon=31.0172819
Processed Houndsditch: lat=51.516015, lon=-0.0798215
Processed Vell: lat=59.2765654, lon=-2.9820274
Processed Kensington: lat=51.4989948, lon=-0.1991229
Processed Roast: lat=51.5053997, lon=-0.0909664
Processed THE DIMINUTIVE WORLD HE INHABITS: lat=None, lon=None
Processed Dodson: lat=48.395979, lon=-108.243819
Processed Holborn: lat=51.5195982, lon=-0.1137266
Processed Birmingham: lat=52.4796992, lon=-1.9026911
Processed Arabella: lat=43.2619344, lon=-2.9114008
Processed Edinburgh: lat=55.9533456, lon=-3.1883749
Processed Glasgow: lat=55.861155, lon=-4.2501687
Processed Filletoville: lat=None, lon=None
Processed Tewkesbury: lat=51.9937857, lon=-2.1549574
Processed Coventry: lat=52.4081812, lon=-1.510477
Processed Dunchurch: lat=52.3370766, lon=-1.2900957
Processed Towcester: lat=52.132756, lon=-0.9894811
Processed China: lat=35.000074, lon=104.999927
Processed Demerara: lat=5.6300783, lon=-58.3934238
Processed Liverpool: lat=53.4071991, lon=-2.99168
Processed America: lat=39.7837304, lon=-100.445882
Processed Wulter: lat=None, lon=None
Processed Dulwich: lat=51.4418786, lon=-0.0843244
Processed Richmond: lat=37.5385087, lon=-77.43428
Processed Bengal: lat=39.4735045, lon=-85.9228997

In [24]:
print(len(latitudes))
print(len(longitudes))
print(len(final_locations))

1227
1227
1227

In [25]:
# Optionally, add latitudes and longitudes back to a DataFrame column for further use
df = pd.DataFrame({'Location': final_locations, 'Latitude': latitudes, 'Longitude': longitudes})

In [26]:
df

         Location   Latitude   Longitude
0          Bedlam  54.048993   -1.592586
1     Camden Town  51.539253   -0.142757
2          London  51.507446   -0.127765
3           Sheba  31.245744   34.792518
4        Damascus  39.288438  -77.203872
...           ...        ...         ...
1222      America  39.783730 -100.445882
1223       Wulter        NaN         NaN
1224      Dulwich  51.441879   -0.084324
1225     Richmond  37.538509  -77.434280
1226       Bengal  39.473504  -85.922900

[1227 rows x 3 columns]

In [27]:
titles = combined_df["Titles"].to_list()

In [28]:
df["Titles"] = titles

In [29]:
df

         Location   Latitude   Longitude               Titles
0          Bedlam  54.048993   -1.592586    A Christmas Carol
1     Camden Town  51.539253   -0.142757    A Christmas Carol
2          London  51.507446   -0.127765    A Christmas Carol
3           Sheba  31.245744   34.792518    A Christmas Carol
4        Damascus  39.288438  -77.203872    A Christmas Carol
...           ...        ...         ...                  ...
1222      America  39.783730 -100.445882  The Pickwick Papers
1223       Wulter        NaN         NaN  The Pickwick Papers
1224      Dulwich  51.441879   -0.084324  The Pickwick Papers
1225     Richmond  37.538509  -77.434280  The Pickwick Papers
1226       Bengal  39.473504  -85.922900  The Pickwick Papers

[1227 rows x 4 columns]

In [31]:
df.to_csv("dickens_coordinates.csv")